[2017-05-19 12:34] c-andrews commented on #256
Hi, any news on a possible solution for this issue?

[2017-05-19 17:39] LukeTowers commented on #256
Have you tried setting `'mediafinder'` instead of `'Cms\FormWidgets\MediaFinder'`?

[2017-05-19 17:41] c-andrews commented on #256
Yes I've tried both

[2017-05-19 17:48] LukeTowers commented on #256
Hmm, well, canned response incoming:

The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways you can help:

- Submit a pull request that fixes this bug and wait for it to be reviewed
- [Post a bug bounty](https://www.bountysource.com/teams/october) for this specific issue so tha

[2017-06-05 11:08] jan-vince commented on #173
It's described here in #69

[2017-06-05 13:26] Arekusei commented on #173
Better late than never. :)
Thanks.

[2017-06-05 13:26] #173 closed

[2017-06-07 10:26] stefanreimert opened #266 "Create a connection between static pages with a dropdown"
What i want to do is to be able to create a dropdown field that shows all my pages in the static pages plugin.

When i select a page i need to be able to get all the content from the selected page...

Is something like this possible with static pages?

[2017-06-07 17:22] jeremymouton commented on #266
Here's an unofficial branch with this implementation.
https://github.com/aspendigital/pages-plugin/tree/page-picker-widget

There might be a few other things in that branch that haven't been merged with the official release yet, but you can look at the last commit to see how it's done. https://github.com/aspendigital/pages-plugin/commit/cc459c584fe57915b364280e7ae4675bd809a53a

`{variable name="pa

[2017-06-08 16:30] LukeTowers commented on #266
See https://github.com/rainlab/pages-plugin/pull/259, if you have any input on that pull request, please add it as a comment to the pull request.

[2017-06-08 16:30] #266 closed

[2017-06-14 14:22] borisbrue commented on #203
Is someone still working on this issue?
I ran into the same problem with the extended fields....
If nobody is working on this right now I will search for a solution this weekend-

[2017-06-15 00:49] LukeTowers commented on #203
@borisbrue I don't believe anybody is actively working on this issue, so if you want to that would be great! Thanks!

[2017-06-15 02:31] daftspunk commented on #203
Should've been fixed by https://github.com/octobercms/october/issues/2257

If not, reopen another issue.

[2017-06-15 02:31] #203 closed

[2017-06-19 14:48] trnikon opened #267 "Translation plugin bug when switching default locale"
Steps to reproduce:
1. Create two locales (let's say English and French, with English being default)
2. Make a new static page from the pages plugin. Fill the form and save.
3. Switch the default locale in Settings to French.
4. Open the static page you created in the back office and now the English values are shown as French

[2017-06-19 19:26] jan-vince commented on #267
I think this is by design. Pages plugin is not dependent on Translate plugin.

Static pages content is saved in ````content/static-pages````. With Translate plugin installed all translated versions are placed in 'locale' folders like ````content/static-pages-fr````, ````content/static-pages-en````.

I believe you can't think about default content as a 'translated one'. In fact it is 'non locale sp

[2017-06-19 20:06] mightyhaggis commented on #132
@LukeTowers @daftspunk

As @robinbonnes is detailed in his example scenario on the 8th May.
Yes, it is a page builder of sorts but more controlled/ specific. (Is there likely to be any code ported from the upcoming "Landing Pages" plugin?) Would having the HTML/MD stored in a content file be an option?

OctoberCMS & Rainlab plugins are fantastic, I am just now starting to properly use it/them so a

[2017-06-20 08:44] gtmeteor opened #268 "Creating a menu : CMS pages aren't being loaded into 'All Blog Categories'"
When creating a Menu, I can see my CMS pages when I create a link directly to CMS page:
![image](https://user-images.githubusercontent.com/11475514/27324362-a98f49dc-55ad-11e7-92e3-adbec322665d.png)
However, when I try to do the same for All Blog Categories - the CMS page list is empty:
![image](https://user-images.githubusercontent.com/11475514/27324389-c438b87c-55ad-11e7-9d9f-c520e57e1509.png)
I

[2017-06-20 11:37] jan-vince commented on #268
I guess you probably don't have blogCategories component in your CMS page.

[2017-06-21 10:39] Harti commented on #131
did you find a solution?

[2017-06-21 23:06] tillathenun opened #269 "'fileupload' variable type doesn't work"
I'm trying to add the following to a layout:

[code]

The _fileupload_ field doesn't appear, however. The [documentation](http://octobercms.com/plugin/rainlab-pages) mentions that the Repeater field type is unsupported, but makes no mention of _fileupload_.

Am I doing something wrong, or is this a current limitation?

[2017-06-22 06:40] jan-vince commented on #269
````fileupload```` is not supported with custom fields.

You will have to extend Pages plugin with your own plugin.

*Duplicate of #242.*

[2017-06-22 15:05] ametad commented on #131
Sorry Harti,
For it has been too long ago, I cannot remember... I closed it for my own administration so it wouldn't bother me anymore.

[2017-06-23 10:21] tillathenun opened #270 "Removing the Content box"
Apologies if this has been mentioned before - I couldn't find an issue here relating to it - but I'd really like to disable/hide/move the Content box so it's less prominent.

I have Custom Page Fields set up as normal textareas so my client can't muck up the design so the Content box isn't required (and just confuses my client, really).

I'm sure there's a way of doing this by creating a custom pl

[2017-06-23 10:23] tillathenun commented on #269
Thanks for that - sorry I missed the original issue. It might be worth adding this limitation to the Documentation since it seems to suggest everything apart from Repeater works?

[2017-06-23 10:38] jan-vince commented on #269
You are right - there should be a list of supported types for Custom fields.

*If you have time it would be great if you can send PR.*

[2017-06-23 10:42] jan-vince commented on #270
You are looking for ````useContent```` property.

*Pages documentation in [plugin page](http://octobercms.com/plugin/rainlab-pages) is not in sync with version on [GitHub documentation](https://github.com/rainlab/pages-plugin#static-pages).*

[2017-06-23 10:43] jan-vince commented on #269
Don't forget to close this issue.

[2017-06-23 10:45] #269 closed

[2017-06-23 11:08] tillathenun commented on #270
Perfect! I didn't have edgeUpdates on so I wasn't seeing it in the version I had. Thanks!

[2017-06-23 11:08] #270 closed

[2017-06-23 18:01] AugmentBLU commented on #255
I tried the above code and can confirm that the same happens.

I also tried the following code which nearly works but the secondary repeater has no fields. I tried manually inputting the result in the static page viewBag without luck.

[code]

Nested repeaters would be useful on static pages, they work well in custom plugins so hopefully it can be sorted for this plugin.

[2017-06-27 20:22] LukeTowers commented on #269
Thanks @jan-vince :)

[2017-06-27 20:26] LukeTowers commented on #131
The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways you can help:

- Submit a pull request that introduces this feature and wait for it to be reviewed
- [Post a bug bounty](https://www.bountysource.com/teams/october) for this specific issue so that more people can become invo

[2017-06-27 20:47] LukeTowers commented on #268
You need to have a `blogPosts` component setup with a category filter that will pull information from a URL parameter on a CMS page before that CMS page will be eligible to be displayed in that list. https://github.com/rainlab/blog-plugin/blob/master/models/Category.php#L125-L128

Think about it this way, how is this menu item supposed to pass information about it wants to be displayed to the CMS

[2017-06-27 20:47] #268 closed

[2017-06-27 20:51] LukeTowers commented on #267
Great explanation @jan-vince, thanks for helping out!

[2017-06-27 20:51] #267 closed

[2017-07-04 14:14] LukeTowers commented on #188
Support has been added in https://github.com/octobercms/october/commit/dfcf324d008b6c20122a20a2b26b43a22111583f by @Harti

[2017-07-04 14:14] #188 closed

[2017-07-05 01:17] LukeTowers commented on #255
@MattPurland @AugmentBLU does https://github.com/octobercms/library/pull/235 fix this issue for you?

[2017-07-05 15:12] MattPurland commented on #255
@LukeTowers Afraid not, same error:
`A widget with class name 'formPageb60415bb486b3eb849523d114f98317f595d017f8f80eViewBagTeam' has not been bound to the controller" on line 523 of /<path>/modules/backend/Classes/Controller.php`

[2017-07-05 15:18] MattPurland commented on #255
Afraid not. Using @AugmentBLU's example the embedded repeater is empty

[2017-07-05 16:46] LukeTowers commented on #255
@mattpurland what about using yours?

[2017-07-06 13:10] MattPurland commented on #255
@LukeTowers same, unfortunately

[2017-07-06 13:47] LukeTowers commented on #255
Ah well, it was worth a shot anyways. Feel free to dig into it yourself and see if you can find the reason why it's not working.

[2017-07-11 18:09] chrisbethelepb opened #271 "Using HTML in a snippet's string value causes the snippet not to render"
# Issue
If a snippet (or component) `String` property contains HTML tags (`<` or `>`), the Pages plugin renders the page with a `<figure ...></figure>` element on the page instead of rendering the snippet.

# Steps to reproduce the bug
- Create a partial like below:
[code]
- Add the snippet to a Page, but do not click on the snippet to assign properties. Click Save and preview the page. It renders

[2017-07-11 18:19] chrisbethelepb commented on #271
Whoops, duplicate of #245 .

[2017-07-11 18:19] #271 closed

[2017-07-11 18:41] chrisbethelepb commented on #245
👍  I ran in to this same bug.

@LasseRafn's regular expression worked for my use case as well.

[2017-07-18 19:44] jan-vince commented on #256
I have a same problem.

**No form widget** can be used in menu item - only standard field types (like text, textarea) works.

It looks like widgets cannot read a saved value from a menu item object.
When media finder field type is changed from ````mediafinder```` to ````text````, saved image path is shown - so it is correctly saved.

I wasn't able to find a reason why form widgets doesn't work :(

[2017-07-18 21:25] jan-vince commented on #256
I was finally able to enable media finder support in Menu items by editing script ````loadProperties```` in
````plugins\rainlab\pages\formwidgets\menuitems\assets\js\menu-items-editor.js```` as @daftspunk  suggested in #185.

*I will add support for color picker as well and try to make PR ASAP.*

[2017-07-19 09:10] c-andrews commented on #256
Brilliant, thank you for pointing me to that. I've now managed to get the images appearing by updating the `setPropertyOnElement` function inside `loadProperties`. This is what i've done:

[code]

Is there a way to get the set public url path instead of hard coding it?

[2017-07-19 09:29] jan-vince commented on #256
I have sent a PR #272 with support for mediafinder and colorpicker (as I use both in my projects).

You can look inside of the PR to see my changes - and feel free to send here your comments. I am not very good with JS.

*I am using OctoberCMS configured media path in data attribute added to ````_menuitems```` partial.*

[2017-07-19 11:36] maartenmachiels opened #273 "Option to show overview of subpages on parent page"
Hi, I've been happily using the static pages plugin and am loving it. I currently have a menu that has one sublevel.

[code]

The subpages show up in the main menu as expected. But I'd like to go a step further show the 3 subpages as 3 links on the (parent) overview page. This way, if the user clicks on Overview in the main menu, they will find a nice layout with 3 links, each one representing a s

[2017-07-19 11:48] jan-vince commented on #273
You can list all Static pages and then traverse through children.

Like this:

[code]

*You can create macro if you want recursion. For one level deep this is ok, I think :)*

[2017-07-19 11:56] kevinvermeulenn opened #274 "Error after saving and breaks plugin and website"
Hi,

I was busy to create content for my website in this plugin.
I added two new items within my menu and have given them the structure of a URL menu item.

While saving it gave me an error. I refresh my page and now I am getting this message back when I want to open the plugin:
`Indentation problem at line 12 (near " }").`

[code]

I don't know what happened but it also breaks my website too with

[2017-07-19 12:02] maartenmachiels commented on #273
Hi @jan-vince , thanks so much for your quick answer. Nice to know it's possible.
I've entered this code into the layout my static page uses. The problem is that this code outputs all pages, regardless of their level (pages and subpages are displayed randomly). Could something be wrong with my setup?

[2017-07-19 12:03] jan-vince commented on #274
Check ````meta/menus/main_menu.yaml```` file in you theme folder.

It can be corrupted.

[2017-07-19 12:06] jan-vince commented on #273
The PHP code above gets all pages and first Twig ````{% for %}```` loop filters only top level pages.

I have tested it and it works for me.

Are you sure you have created sub-pages? Can you post ````meta/static-pages.yaml``` file content (or fragment if too long).

*There is a button Add subpage when you hover page in pages list (in administration).*

[2017-07-19 12:21] maartenmachiels commented on #273
Hi,

Yes, here's what's happening in `meta/static-pages.yaml`

[code]
No structure here, but in the folder `meta/menus/hoofdmenu.yaml`

[code]
Screenshot of my menu "hoofdmenu" (my main menu):
![menu](https://user-images.githubusercontent.com/3584586/28366542-7825d932-6c8d-11e7-98be-445b039358e3.PNG)

What do you think might be wrong?

[2017-07-19 12:51] maartenmachiels commented on #273
I've modified `meta/static-pages.yaml` and now I see again all pages, but with the subpages in the right spot:

[code]
I'm guessing that maybe there was an issue with generating this file when dragging and dropping?
I'd love to have a filter of the subpages of the current page only.  How can I modify the loop so that only the children of the current page are taken into account?

Thanks for all you

[2017-07-19 13:05] jan-vince commented on #273
My bad - I thought you meant HTML menu, but you talk about Static pages menu.

I don't know about any easy way how to traverse menu items and get referenced Static page.

*Menu items component will give you only URLs of Static pages. Static menu was probably meant to be a list of URLs more than a pages list.*

The easiest way is probably to rearrange your Static pages to form of your menu and use

[2017-07-19 13:18] maartenmachiels commented on #273
Thanks @jan-vince . It's a pity this is a difficult issue. I don't really see the difference between a HTML menu and the Static pages menu. Does HTML menu mean not working with an explicitly created menu inside the Static Pages plugin? Wouldn't that make all pages show up in that one menu?

Sorry, I'm quite new to October CMS.

[2017-07-19 13:26] kevinvermeulenn commented on #274
@jan-vince I've removed the file in the theme folder as you mentioned.
The website is working right now but the backend isn't yet.

[2017-07-19 13:34] jan-vince commented on #273
*No - I thought you are talking about HTML menu (in code like ````<ul><li>````). Now it's clear we are talking about Static menu and Static pages.*

If you use my first code, you can render your pages in form of menu in a same way as you do with Static menu.

I use this myself on projects where I need to use Pages properties (images, custom fields).

[2017-07-19 13:35] jan-vince commented on #274
What error you get?

[2017-07-19 13:38] kevinvermeulenn commented on #274
@jan-vince The same error as I mentioned above.

[2017-07-19 13:39] jan-vince commented on #274
Try to move .yaml files from meta folder - this can lead you to the one that is corrupted.

[2017-07-19 13:50] kevinvermeulenn commented on #274
Unfortunately, it is still not working.
As you can see the website is working. Even with the navigation of blog categories.
The main navigation is removed in the meta folder right now.

[2017-07-19 14:21] maartenmachiels commented on #273
Thank you @jan-vince , I'm currently writing a solution based on your propositions. Will get back to this thread once I get it up and running.

[2017-07-19 17:53] jan-vince commented on #274
Can you post last error from /storage/system.log?

[2017-07-19 17:54] jan-vince commented on #273
Ok. Don't forget to close this issue.

[2017-07-19 22:31] HenrikR commented on #174
@hybridvision @fresswolf were you able to find a workaround or solution to this issue? Disabling safe mode in production doesn't seem like a great idea

One method was to replace `placeholder` with a `variable` but this limits you to only adding basic content and not snippets/components to sections in your layout.

[2017-07-20 07:08] jan-vince commented on #174
Just a quick workaround - am using this to be able to edit PHP code when I am on the road:

In .htaccess I have:

[code]

And I have ````/config/dev```` folder in OctoberCMS where I copied ````app.php```` file with ````'debug' => true````.

When I access my site from the IP, I can edit all data as I am in DEV mode. All other visitors see web in production mode.

*I am using VPN to my home, where I

[2017-07-20 07:58] maartenmachiels commented on #273
Hi @jan-vince , I was able to create a solution thanks to you. I'm presenting two layouts below.

Overview layout: a page that displays only its subpages.
[code]

Subpage layout: the page that shows a side menu of only other subpages within that same parent.
[code]

This works like a charm, as long as I define the pages as subpages in Static Pages (subpages in Static Pages Menus are disregarded).

[2017-07-20 08:19] jan-vince commented on #273
There is ````item.isChildActive```` property in each menu item, so you can test it like this:

[code]

Or you can set it by hand in PHP - but you have to use ````onEnd```` function like:

[code]

[2017-07-20 08:30] maartenmachiels commented on #273
Thank you for your answer. The last one seems fitting. Only problem is that `$parentPageObject` (and `$this->page->parent;`) both return `NULL`. Any clues?

[2017-07-20 08:35] kevinvermeulenn commented on #274
Hi @jan-vince ,
I've placed the complete log file here: http://2017.bmichecken.nl/system-log
Because I don't know what error you search for.

[2017-07-20 10:20] tillathenun opened #275 "Quote marks on Static Page cause exception"
I'm using static pages with variables for my client to add content, like this:

`{variable name="text" label="Text" tab="Text" type="markdown"}{/variable}`

However, I've noticed when adding content I get an exception when adding quote marks. They get correctly escaped in the HTML as far as I can tell but if there's an end quote mark with more text afterwards, I get an exception.

For instance, th

[2017-07-20 11:01] jan-vince commented on #273
Sorry I was writing from memory without testing - the right code should be:

[code]

*The ````getPageParent()```` method returns parent page filename only!*

----
I am not sure if I have guided you the right way.

On my projects I do use Static menu as I don't need to directly interact with Static pages content/object.

Maybe a better approach would be to find a way, how to map a Static menu item

[2017-07-20 11:33] jan-vince commented on #274
Looks like a problem right in ````static-pages.yaml````.

Have you tried to move this file out from a ````meta```` directory?

*Or maybe try to rename ````meta```` directory and create new one empty.*

[2017-07-20 11:51] maartenmachiels commented on #273
Thank you so much. In the meantime, I solved it with some JavaScript, but above solution is indeed much more elegant. Will implement it soon. Would be nice to know how to link up menu items to static pages. This would give the ultimate control :-)

[2017-07-20 11:51] kevinvermeulenn commented on #274
@jan-vince Thank you!
It solves the problem. Only thing I've to do is to create all the build pages and menus again. Lucky this one was in the development stage.

[2017-07-20 11:51] #274 closed

[2017-07-20 12:20] hybridvision commented on #174
@HenrikR - it has been more than a year since I worked on this project so I can't remember exactly but I don't recall finding a solution. In my case, it was ok to disable the safe mode so that's what I ended up doing because I couldn't spend any more time on it.

It would be nice if this bug was fixed but I think @jan-vince's solution is a good workaround until then...

[2017-07-20 15:12] HenrikR commented on #174
@jan-vince @hybridvision thanks for your responses! Your solution is assuming you need to enable it to simply manage content in the placeholder section yourself; whereas if you provide the static pages plugin to your client, they will not have the ability to change the content in those placeholders.

As a simple example, my client would like to update their homepage sidebar each week with a custom

[2017-07-20 19:09] jan-vince commented on #174
Sure - but maybe there is another way how to handle what you need.

I use [custom page fields](https://github.com/rainlab/pages-plugin#custom-page-fields) for almost every client's editable content - so maybe you can use them instead of placeholders.

[2017-07-20 19:15] jan-vince commented on #273
Ok :)

*Don't forget to close this issue.*

[2017-08-02 20:42] LukeTowers commented on #184
Related: #172

[2017-08-02 20:43] #161 closed

[2017-08-05 21:21] scazzy opened #278 "Feature Request: Inherit parent page properties"
By default, all sub pages should inherit page/module properties. As more than 90% of the usecase of static sub pages would use the same properties like layout, and properties for snippets.

Keeping default as inherited wouldn't cause any performance issue either as the pages are cached.

[2017-08-07 17:19] kay899 opened #279 "Page cache not invalidated when updating Snippet properties"
As requested by @LukeTowers after Slack chat from yesterday:

When I have a component with a dropdown to let the user select the amount of columns his teasers should be shown in the layout this is working perfectly on my local environment.

On the web servers these configuration values should also be cached by the "parsedPageCacheTTL":
https://github.com/octobercms/october/blob/master/config/cms.p

[2017-08-19 19:19] eleohner opened #280 "Syntax Fields not appearing when layout is in a directory"
I noticed that the variables don't appear client-side in the Pages tab when the layout is nested in a directory.

For example, they appear fine if they're like follows: layouts/page-layout.htm

however, they don't when they are like: layouts/main-pages/page-layout.htm

I couldn't find any other references to this problem, so I'm assuming it's a bug.

Thanks!

[2017-08-25 03:25] LukeTowers commented on #280
@fuchsli does October itself support sub-directory layouts?

[2017-08-26 21:19] eleohner opened #282 "Menu Item Duplicates"
When reordering a menu with the drag-and-drop feature, if you accidentally drop an item as a sub-item for another menu item, it will override the "Allow Nested Item" disabled functionality.

Additionally, when dragging the item out of the submenu, the menu item it was accidentally dropped into will still have a dropdown on the frontend for the nest item, despite it no longer existing in that capac

[2017-08-26 23:40] fuchsli commented on #280
It doesn't throw an exception when I make sub-directory layouts, so I'm assuming making them is valid.

[2017-08-26 23:42] fuchsli commented on #280
Here's an image for verification:

![sublayouts-screenshot](https://user-images.githubusercontent.com/17093330/29745927-b35601b8-8a96-11e7-891d-b0e2133f11d6.png)

[2017-08-29 10:32] pleswi commented on #126
Please fix this bug. More than year without any action :(

[2017-08-29 15:43] LukeTowers commented on #280
Just because it doesn't throw an exception doesn't mean it's actually supported.

What are the steps you take to create a layout in a sub directory?

[2017-08-29 16:43] fuchsli commented on #280
That is an entirely fair point. But it creates directories for it just as it does in all of the other CMS items.

![layout-directory](https://user-images.githubusercontent.com/17093330/29832649-e3da9bb0-8cb6-11e7-8a00-f070fa7a0ea8.png)

Saving this produces a nested layout and makes things much easier in terms of organization.

I can access the nested layouts just fine in the Pages plugin. It's ju

[2017-08-29 16:49] LukeTowers commented on #280
So you're saying that when you have page specific layouts that you would like to organize in sub directories the Static Page variables don't get saved correctly to them?

[2017-08-29 16:54] fuchsli commented on #280
That's exactly it.

{variable name="stuff"...}{/variable} works in just "new-layout" but does not show up at all in "layout-directory/new-layout"

[2017-08-30 11:58] danielbruni commented on #279
Any temp. solution? Thanks in advance.

[2017-09-03 02:26] LukeTowers commented on #279
Not at the moment @danielbruni, if you would like to look into what's causing the issue, that would be very helpful! Thanks! :)

[2017-09-03 16:42] ajinkyakambe opened #284 "Function not working"
http://webmshare.com/play/jBGyW

This function is not working on the plugin

[2017-09-03 21:06] LukeTowers commented on #284
This is an issue for the rainlab translate plugin

[2017-09-03 21:06] #284 closed

[2017-09-06 06:28] coder1coder opened #285 "Does not display the available templates"
I installed the plugin. When creating a new page does not display the available templates.

_classes\Page.php (354 string)_
**if (!$layout->hasComponent('staticPage')) {**
[code]

[2017-09-06 15:42] LukeTowers commented on #256
Fixed by #286

[2017-09-06 15:42] #256 closed

[2017-09-06 15:44] LukeTowers commented on #285
Do you have any available templates? Only templates that have the staticPage component included on them are actually able to be used by this plugin.

[2017-09-07 20:04] coder1coder commented on #285
Yes, of course, the available templates there. Pay attention to the condition. Continue to run code if the template does not have component.

[2017-09-07 21:10] LukeTowers commented on #285
No need to be snarky. This code is doing what it is supposed to. `continue;` tells PHP to ignore the rest of the code in this iteration of the loop and skip to the next iteration; therefor passing over the current template as invalid to use. http://php.net/manual/en/control-structures.continue.php

[2017-09-08 06:05] jan-vince commented on #285
@coder1coder Can you put here your layouts files?

[2017-09-08 15:37] gtmeteor commented on #279
I'm apparently having the same problems. I have no idea what caused it or how to fix it... however this is how it started happening:

- Download opcache and zendloader
- Incorrectly add them as extension=php_opcache.dll; extension=ZendLoader.dll to php.ini
- Restart apache
- Do some work with staticPages, start seeing problems.
- Launch php artisan cache:clear, get complains that libraries are inv

[2017-09-10 12:34] datune commented on #245
I ran into this issue as well. I really don't understand the reasoning behind this type of implementation. Snippets should not be responsible for input filtering of any kind. This can easily be done in a partial or component, which is where this kind of logic belongs, imho. @LasseRafn's regular expression partially solves the issue, but not quite.

Using quotes within a properties value still rend

[2017-09-13 20:17] zooks opened #287 ""Invalid argument supplied for foreach()" on line 129 of PageList.php"
I got this error in backend when I tried to delete a page:

I've just found what causes this unhandled error: it's ```blog: null``` in static-pages.yaml

[2017-09-13 22:21] #287 closed

[2017-09-13 22:21] daftspunk commented on #287
Not sure how you managed to get a null value in there but an expression has been added to account for it.

[2017-09-14 14:25] datune opened #288 "[build 423] Snippets Control Popover hidden behind Rich Editor"
The ".control-richeditor" form element has it's z-index set to 1000, however, a snippet's control popover has a z-index of 599, which renders it behind the richeditor.

[2017-09-14 14:32] datune commented on #288
https://github.com/octobercms/october/issues/3111

[2017-09-14 14:32] #288 closed

[2017-09-15 13:21] alan-derua opened #289 "{{ ''|page }} does not work on static pages"
I need a full url for OpenGraph's `og:url`. `{{ ''|page }}` works for cms pages, but not for static pages.

I read the plugin doc and couldn't find anything about getting full url. Any suggestions?

[2017-09-15 13:38] jan-vince commented on #289
Try ````|staticPage````.

[2017-09-15 14:28] alan-derua commented on #289
@jan-vince Doesn't work at all on both types

[2017-09-15 16:31] jan-vince commented on #289
When I create Static page with name 'test' and URL ````/test````

* this ````{{'test'|staticPage}}```` gives me a full URL
* and this also ````{{page.id|staticPage}}````

Can you give it a try?

[2017-09-19 10:22] datune commented on #279
Having experienced the same issues I decided to go deep and trace the problem. After spending 3 hours reviewing the code, at least for my specific case, I think I have found why, on saving a page, the snippets are not updated / displayed.  The problem is in getMapCacheKey($theme) and might be related to the backend user language setting.

So here is what happens when saving a static page:

-> This

[2017-09-19 12:23] datune commented on #279
PS: This behaviour can easily be reproduced, assuming your backend language is set to "en", open /config/app.php and change the locale value to something other than "en", go to a static page, add a snippet, save it, edit the snippet, save it again.

**Expected behaviour:** Snippet is updated.

**Actual behaviour:** Snippet is not updated on frontend or is not displayed at all.

[2017-09-19 15:40] LukeTowers commented on #279
@datune this is fantastic, thank you very much for your detailed dive into this!

The reason Lang::getLocale() would return two different values would be because the Backend Controller class [sets the application locale](https://github.com/octobercms/october/blob/master/modules/backend/classes/Controller.php#L227) in any backend context to be the user's locale. In the frontend, this is just loaded

[2017-09-19 16:49] alan-derua commented on #289
Thanks for the `{{page.id|staticPage}}` hint!

`{{ (''|page == "") ? page.id|staticPage : ''|page }}` solved my problem.

[2017-09-20 07:33] datune commented on #279
@LukeTowers Unless I am misunderstanding, it seems to me that a possible way to fix this would be to retreive the current locale, override the current locale setting in getMapCacheKey to match the application locale, and once the request is finished set the locale back to the previously retreived locale, so as to not be influenced by the current users choosen backend language.  However, I don't kn

[2017-09-20 13:00] Sifizu opened #291 "Menu item dosen't work after I add a subitem to it"
Hello! I work on a project in October CMS. I'm a newbie in this CMS, and my problem is, when I add a submenu item to an item in my menu, the original menu item become unable to open by left click. I can only open it by mouse wheel click and open it a on a new page. Can anybody help me with this?

[2017-09-20 19:17] LukeTowers commented on #279
The problem is that we need to support the correct cache keys for both situations:
1. The RainLab.Translate plugin is installed.
2. The RainLab.Translate plugin is not installed.

I think a better solution might be to provide an event for generating the cache key that the RainLab.Translate plugin can then listen to in order to modify it appropriately only when that plugin is installed. Thoughts?

[2017-09-21 09:55] datune commented on #279
@LukeTowers

As far as I can tell, this issue is not related to the Translate Plugin in any way. The page cache is not correctly invalidated, whether or not the Translate Plugin is installed.

**Without the translate plugin installed:**
- The getMapCacheKey method should not call Lang::getLang(), because (for whatever reason) the backend user language setting directly affects the language returned

[2017-09-21 15:48] LukeTowers commented on #279
I'm thinking something much simpler. The whole reason the `Lang::getLocale()` is even included here is specifically because of the RainLab.Translate plugin. As such, we don't need it by default. My solution goes something like this:

[code]

[2017-09-21 18:37] datune commented on #279
Wow! I wasn't aware that the authors of the pages plugin thought it to be a good idea to create coupling where it is not needed. I thought the Pages Plugin needed this, obviously you're approach is way simpler.

I kinda wish I would have known from the get go that Lang::getLocale was only added for another plugin...

[2017-09-21 19:20] LukeTowers commented on #279
It was only added last year as a fix for a Translate plugin issue: https://github.com/rainlab/pages-plugin/commit/1ef27deb7617a643b0c3c668b3be3fe4340340d5#diff-9026ffe964a5075d8eb97cb071276969

[2017-09-21 19:46] LukeTowers commented on #279
Should be fixed now by https://github.com/rainlab/translate-plugin/commit/f5ddabbcf907af47a7129157c847472122c4ba7a and https://github.com/rainlab/pages-plugin/commit/204157cd699cd6f0772427952e7be4688050a92b. @kay899 @datune @gtmeteor @danielbruni do you guys mind testing this solution?

[2017-09-21 21:29] acasar commented on #279
@LukeTowers Event facade is not imported and causes an error. Seems like there is already a PR to fix it: https://github.com/rainlab/pages-plugin/pull/294

[2017-09-21 22:23] LukeTowers commented on #279
@acasar Merged it, thanks!

[2017-09-25 16:50] trnikon opened #295 "Snippet overrides not working properly"
When adding 2 or more snippets of the same type on the same static page, the `data-snippet` alias changes. This breaks the template override because the app is looking for a folder that isn't there. As a result, only the first snippet renders using the override and the others use the default template.

EDIT: This only seems to happen with snippets coming from components, as when adding multiple sn

[2017-09-26 11:24] fuchsli commented on #282
In addition to this, upon deleting subpages, they still remain in the navigation, only they redirect to the 404 page.

[2017-09-26 11:31] fuchsli commented on #282
Removing the submenu item entirely and allowing the nested children to be automatically added does fix the problem, but the problem subsists for non-children you want to add/remove from the menu.

[2017-09-27 15:19] wildcats1369 commented on #237
Pages are supposed to be unique with every theme, even if you have a standard pages chances are you will still edit them to cope with the new design.

however

You can set up your blog post to be pages, just create a page for them in the cmd->pages and you can set
/:slug on its parameter set the design and you can have pages that have a standard design.

1. create a new page names pages.htm
2. pla

[2017-09-27 17:24] LukeTowers commented on #237
@daftspunk further to our earlier discussion about storing page content in the database

[2017-10-03 16:18] mightyhaggis commented on #132
Thinking about this slightly differently, would it be possible to leverage Static Pages current Custom Field capabilities to achieve some builder like capabilities? (details above)

Currently, with Custom Fields they are defined in the template and used to generate, tabs with input options in the editor. Their content stored in the header of the static page. This is fantastic but can't be used dyn

[2017-10-04 12:21] datune commented on #279
@LukeTowers Thanks for your help and work, seems to resolve the issue!

[2017-10-04 12:28] datune commented on #245
@LukeTowers Can we get this merged please? After throroughly testing this, using single quotes for html attributes, it seems to work fine and do no harm.

[2017-10-04 15:31] LukeTowers commented on #279
@datune Happy to get this resolved! Thanks to you as well for your work in identifying the issue!

[2017-10-04 15:31] #279 closed

[2017-10-04 15:35] LukeTowers commented on #245
Make a PR detailing the change and why it's required please @datune

[2017-10-04 20:10] #245 closed

[2017-10-08 08:08] hushcode opened #297 "Cannot access placeholder tabs on lower resolution monitors if there are many"
The placeholder editor tab list does not seem to have horizontal scrolling, which causes some of the tabs to be inaccessible on lower resolution monitors  (i.e. 1366x768)

Here's a screenshot demonstrating the problem

![octobercms-pages-editor-placeholder-issue](https://user-images.githubusercontent.com/30935229/31315085-f7990af6-ac2d-11e7-95e5-07748a0f9996.jpg)

[2017-10-08 16:15] binglenozumi opened #298 "Adding FontAwesome to menu items"
Hi, I am trying to figure out how to add Font Awesome icons to menu items.

I would like to know how can I utilise css class for that. I had tried a few, it seems like the menu did not apply the css class, will there be something I am missing in the menu?

[code]

[2017-10-08 17:59] jan-vince commented on #298
You can get menu item css class with ````{{ item.viewBag.cssClass }}````.

[2017-10-08 18:02] jan-vince commented on #297
You can left click & drag to move tabs list.

*On my Mac I can also use horizontal scroll on my scrollbar or magic mouse.*

[2017-10-08 18:10] LukeTowers commented on #297
I might also suggest that you should refactor your tabs, there shouldn't be a tab for every field.

[2017-10-08 18:42] jonathan-hc commented on #297
I was the one who posted the original report. I converted the account to an organization after I posted, thus it appears as "ghost" now.

@jan-vince That's really cool! I didn't realize, it could do that. My issue is fixed with the discovery of this feature. Just a suggestion: Maybe there should a tips or hints feature that introduces features like these that are not readily apparent to new users.

[2017-10-09 04:48] LukeTowers commented on #297
@jonathan-hc I'm not saying that's a bad approach, I'm just saying that it could be organized better. You could look into putting multiple placeholders on each tab or better yet build a custom plugin that manages some of the more global information like ourClients or peopleHelped that would then have the markup generated by a plugin component without the chance of a user messing it up at all.

[2017-10-10 10:17] vanmil commented on #174
@jan-vince Using custom page fields works in many cases, but not in all. For us the main drawback of page fields in comparison to placeholders is that page fields don't accept snippets, where placeholder do accept them. Using Snippets makes the Static Pages plugin so much more useful for the editor user.

[2017-10-11 06:04] jan-vince commented on #174
I know about it and I had a discussion about it earlier - but it won't be hard to allow snippets to work inside of custom fields. Just no one (me as well) had a time to add this feature yet...

[2017-10-11 14:52] LukeTowers commented on #174
@jan-vince @vanmil If someone could dig deeper into the issue of why editing placeholder content is disabled when safe mode is enabled and provide a fix in a PR, that would be appreciated.

[2017-10-15 12:37] nephthys opened #299 "Single URL (in multiple languages) with Rainlab.Translate?"
Hi,

I have two languages: EN (default) and FR.

I choose the URL "test-en" in English, and in a second time I choose the URL "test-fr" in French.

This is the last registered URL ("test-fr") that overwrites the previous URL in English. Is this normal behavior? Because for me it looks like a bug.

It might be more interesting to change the language of the form in one breath, now there you have to

[2017-10-16 14:29] Everus opened #300 "Snippet duplicates."
Hi,
when I add snippet to the page it outputs two times.

[2017-10-16 14:31] Everus commented on #300
It was my error I add
`
    {% component 'staticPage' %}
    {% page %}
`
to layout.

[2017-10-16 14:31] #300 closed

[2017-10-19 23:44] jBOKA commented on #247
Seems not to be deployed through october's marketplace yet. See
https://github.com/rainlab/pages-plugin/pull/252

[2017-10-23 13:51] davethepottingshed opened #302 "Variable repeater fileupload error"
The following error is thrown when trying to add a item to the repeater field.

<img width="482" alt="screen shot 2017-10-23 at 14 50 00" src="https://user-images.githubusercontent.com/29524195/31892674-8dede682-b801-11e7-8f4a-8e4e705b5153.png">

[code]

It works correctly if you change the `fileupload` field with the `mediafinder` field

[2017-10-23 14:33] LukeTowers commented on #302
@davethepottingshed this is fundamental to how the fileuploader works (i.e. using database relations). You will have to use the `mediafinder` field instead.
See https://github.com/octobercms/october/issues/2708, https://github.com/octobercms/october/issues/2196, https://github.com/octobercms/october/issues/1846

[2017-10-23 14:33] #302 closed

[2017-10-23 23:52] xNok opened #303 "Suggestion: reduce the number of partials for staticmenu to one"
## Actual behaviour
Currently the component `staticmenu` containts two partials

* default.htm
* items.htm

This code splitting remove the ability to use efficiently the fork option in the OctoberCMS. In other words when you select the `staticmenu`  and click on the fork icon you get the following code:

[code]

Then you need to go on github to find the staticmenu/items.htm to properly customise t

[2017-10-25 17:44] LukeTowers commented on #303
This would break existing installations that override the items.htm partial.

[2017-10-25 17:46] LukeTowers commented on #55
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:46] #55 closed

[2017-10-25 17:47] LukeTowers commented on #59
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:47] #59 closed

[2017-10-25 17:47] LukeTowers commented on #63
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:47] #63 closed

[2017-10-25 17:47] LukeTowers commented on #64
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:47] #64 closed

[2017-10-25 17:48] LukeTowers commented on #66
Closing as it has been over a month since any activity on this occurred. Also, October switched to using Froala instead of Redactor, issue should no longer be present.

[2017-10-25 17:48] #66 closed

[2017-10-25 17:49] LukeTowers commented on #72
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:49] #72 closed

[2017-10-25 17:49] LukeTowers commented on #76
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:49] #76 closed

[2017-10-25 17:49] LukeTowers commented on #75
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:49] #75 closed

[2017-10-25 17:49] LukeTowers commented on #79
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:49] #79 closed

[2017-10-25 17:50] LukeTowers commented on #86
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:50] #86 closed

[2017-10-25 17:50] LukeTowers commented on #74
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:50] #74 closed

[2017-10-25 17:50] LukeTowers commented on #103
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:50] #103 closed

[2017-10-25 17:50] LukeTowers commented on #104
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:50] #104 closed

[2017-10-25 17:51] LukeTowers commented on #110
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:51] #110 closed

[2017-10-25 17:51] LukeTowers commented on #111
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:51] #111 closed

[2017-10-25 17:51] LukeTowers commented on #115
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:51] #115 closed

[2017-10-25 17:52] LukeTowers commented on #47
No longer an issue since October switched to using Froala?
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:52] #47 closed

[2017-10-25 17:52] LukeTowers commented on #12
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:52] #12 closed

[2017-10-25 17:53] LukeTowers commented on #98
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:53] #98 closed

[2017-10-25 17:53] LukeTowers commented on #121
Fixed by https://github.com/rainlab/pages-plugin/commit/34dcf5e9ef04812854a0426c21d03454a755c523

[2017-10-25 17:53] #121 closed

[2017-10-25 17:54] LukeTowers commented on #123
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:54] #123 closed

[2017-10-25 17:55] LukeTowers commented on #125
Fixed in Laravel 5.5 (Build 420+) See https://github.com/octobercms/library/pull/178#issuecomment-302836370

[2017-10-25 17:55] #125 closed

[2017-10-25 17:56] LukeTowers commented on #102
Support for multiple images selected with the MediaFinder will be implemented here: https://github.com/octobercms/october/issues/1658. Until then, use a repeater and mediafinder combination.

[2017-10-25 17:56] #102 closed

[2017-10-25 17:57] LukeTowers commented on #127
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:57] #127 closed

[2017-10-25 17:58] LukeTowers commented on #14
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:58] #14 closed

[2017-10-25 17:59] LukeTowers commented on #130
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 17:59] #130 closed

[2017-10-25 17:59] LukeTowers commented on #135
Please only use GitHub Issues for feature requests if you are using it as a pre-Pull Request collaboration tool. If you aren't planning on implementing it yourself, then it would be better suited being asked for on one of these channels:

Forum: http://octobercms.com/forum
IRC: #october on Freenode or http://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

The support demand for

[2017-10-25 17:59] #135 closed

[2017-10-25 18:00] LukeTowers commented on #138
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:00] #138 closed

[2017-10-25 18:00] LukeTowers commented on #139
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:00] #139 closed

[2017-10-25 18:00] LukeTowers commented on #145
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:00] #145 closed

[2017-10-25 18:00] LukeTowers commented on #158
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:00] #158 closed

[2017-10-25 18:01] LukeTowers commented on #170
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:01] #170 closed

[2017-10-25 18:01] LukeTowers commented on #7
As stated by @vojtasvoboda

[2017-10-25 18:01] #7 closed

[2017-10-25 18:02] LukeTowers commented on #171
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:03] LukeTowers commented on #172
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:03] #172 closed

[2017-10-25 18:03] LukeTowers commented on #90
@that0n3guy is correct.

[2017-10-25 18:03] #90 closed

[2017-10-25 18:03] LukeTowers commented on #88
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:03] #88 closed

[2017-10-25 18:04] LukeTowers commented on #178
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:04] #178 closed

[2017-10-25 18:05] LukeTowers commented on #151
Bumping this as it is a confirmed bug that should be addressed at some point.

[2017-10-25 18:07] LukeTowers commented on #185
May be implemented by a follow up PR to #272

[2017-10-25 18:07] LukeTowers commented on #191
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:07] #191 closed

[2017-10-25 18:07] #192 closed

[2017-10-25 18:08] LukeTowers commented on #155
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:08] #155 closed

[2017-10-25 18:08] LukeTowers commented on #209
@jBOKA is this still something that you want added?

[2017-10-25 18:08] #97 closed

[2017-10-25 18:09] LukeTowers commented on #199
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:09] #199 closed

[2017-10-25 18:09] LukeTowers commented on #218
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:09] #218 closed

[2017-10-25 18:09] LukeTowers commented on #228
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:09] #228 closed

[2017-10-25 18:09] #230 closed

[2017-10-25 18:10] LukeTowers commented on #227
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:10] #227 closed

[2017-10-25 18:13] LukeTowers commented on #226
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:13] #226 closed

[2017-10-25 18:14] LukeTowers commented on #220
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:14] #220 closed

[2017-10-25 18:16] LukeTowers commented on #236
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:16] LukeTowers commented on #239
@mbaxter91288 how did you eventually resolve this?

[2017-10-25 18:17] LukeTowers commented on #246
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:17] #246 closed

[2017-10-25 18:17] LukeTowers commented on #243
Fixed with #259

[2017-10-25 18:17] #243 closed

[2017-10-25 18:18] LukeTowers commented on #257
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:18] #257 closed

[2017-10-25 18:20] LukeTowers commented on #235
Fixed in #279

[2017-10-25 18:20] #235 closed

[2017-10-25 18:21] LukeTowers commented on #258
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:21] #258 closed

[2017-10-25 18:21] LukeTowers commented on #254
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:21] LukeTowers commented on #261
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:28] jBOKA commented on #209
Still some work to do on that. Unfortunately im involved so much in other stuff right now, I can't make any promises about when to finish this.
Fell free to close. I will open another Issue/PR as soon as I find the time.
I'm using it regularly, so yes, I'll get back to it later to make it ready for production.

[2017-10-25 18:35] LukeTowers commented on #156
Should now be fixed with #304 and https://github.com/rainlab/translate-plugin/commit/e0b63662b9fe736cb7cdd51783cb541b656a024c

[2017-10-25 18:35] #156 closed

[2017-10-25 18:35] LukeTowers commented on #181
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:35] #181 closed

[2017-10-25 18:36] LukeTowers commented on #255
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:36] LukeTowers commented on #275
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:36] #275 closed

[2017-10-25 18:36] LukeTowers commented on #184
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:36] #184 closed

[2017-10-25 18:37] LukeTowers commented on #278
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:37] #278 closed

[2017-10-25 18:37] LukeTowers commented on #126
@pleswi make a PR to fix the issue.
The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways you can help:

- Submit a pull request that introduces this feature and wait for it to be reviewed
- [Make a financial contribution to the project](http://octobercms.com/fundraising) so we

[2017-10-25 18:38] LukeTowers commented on #280
The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways you can help:

- Submit a pull request that introduces this feature and wait for it to be reviewed
- [Make a financial contribution to the project](http://octobercms.com/fundraising) so we can allocate more time towards maki

[2017-10-25 18:39] LukeTowers commented on #285
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:39] #285 closed

[2017-10-25 18:39] #289 closed

[2017-10-25 18:39] LukeTowers commented on #291
Closing as it has been over a month since any activity on this occurred.

[2017-10-25 18:39] #291 closed

[2017-10-25 18:41] LukeTowers commented on #209
Alright, I'll close this for now. Please reference this issue when making your PR to make it available for production.

[2017-10-25 18:41] #209 closed

[2017-10-25 19:49] manuelbua commented on #261
Mmm just wondering.. since i'm noticing the "Abandoned" status crazyness.. what kind of activity would grant issues some love from your part? I mean, is it required for others to also confirm this, such as in #181, where i took the time to confirm? _Does the status indicates your posture with respect to the issue?_

Does any of you devs even **tried** to reproduce the issue? What's the point in as

[2017-10-25 20:13] mbaxter91288 commented on #239
@LukeTowers by removing the below from the mentioned controller files.
[code]
Like I mentioned, not really sure what this did so this was more of a question than anything else?

[2017-10-25 20:17] LukeTowers commented on #261
@manuelbua I'm going crazy with the Abandoned tag in order to prompt some movement with these issues. As it stands right now the core team is way too busy with everything to handle every single issue ourselves.

My solution to this is to poke people into actually taking on the issues that are important to them. If an issue isn't important to them anymore, then they won't do anything and everything

[2017-10-25 20:24] LukeTowers commented on #239
Isn't that going to be replaced on the next update though?

[2017-10-25 20:49] manuelbua commented on #261
Fair enough @LukeTowers, thanks for putting down the reasoning behind it: i'm not at all offended, in fact i proposed one solution and, not being a core dev, i would also expect for it to be normal to get rejected, for more than one reason and/or different assumptions, too bad discussion didn't kick in :(

I'm not the kind of guy who just assumes open source means everything is free, that's why i

[2017-10-25 20:56] LukeTowers commented on #261
Perhaps, but I might just end up applying it to everything 😂

As far as discussion on your suggestion goes, I like it as long as it solved the problem. The only thing I might suggest is adding a helper method to do the comparison for you in the Page.php class, perhaps something like `protected function checkItemActive($item, $currentUrl)` that would implement whatever correct checking works for un

[2017-10-25 21:02] manuelbua commented on #261
Interesting idea, this would indeed centralize the solution logic in one place, avoiding littering the code and keeping it as DRY as possible.

[2017-10-25 21:08] LukeTowers commented on #261
That's the idea. Feel free to make a PR implementing the fix and I'll review it.

[2017-10-26 08:12] mbaxter91288 commented on #239
Not sure :-/

[2017-10-26 15:17] #261 closed

[2017-10-26 18:42] LukeTowers commented on #117
Fixed by #277

[2017-10-26 18:42] #117 closed

[2017-10-26 18:43] LukeTowers commented on #295
Are you able to dig deeper into this and see if you can make a PR to fix the issue?

[2017-10-26 18:45] #298 closed

[2017-10-26 18:46] #297 closed

[2017-10-26 18:47] LukeTowers commented on #299
Feel free to dig deeper into this and make a PR

[2017-10-27 11:11] trnikon commented on #295
I think it has to do with the way OctoberCMS core uses aliases to refer to component instances. I will look into it but I don't think there is a simple solution

[2017-10-27 15:33] LukeTowers commented on #295
@trnikon I believe there is an issue somewhere for allowing aliased components to still pull overrides from the default component override partial folder, so it's not entirely a lost cause.

[2017-10-28 12:49] grafxflow opened #306 "Is it possible to use relation type in variables on layouts files"
Is it possible to use relation type in variables on layouts files?

`{variable name="name" label="label" tab="tab" type="relation" mode="image"}{/variable}`

[2017-10-28 13:45] daftspunk commented on #239
Unfortunately I didn't write this code, it was by @alekseybobkov. It looks like it might be a mistake in the code. Are there any negative consequences from removing it?

[2017-10-29 01:30] LukeTowers commented on #239
@daftspunk the only think that I can think of that will happen if we remove it is resources inserted into `head` from plugins in the backend would now be inserted on the mediamanager and StaticPages pages, but that would be the plugin's fault if it conflicted and I'm not sure what exactly what would cause it to conflict

[2017-10-29 01:46] LukeTowers opened #307 "Add a database layer"
This is a proposal to add a database layer overtop of the default flatfile implementation of this plugin. The final implementation would be a progressive enhancement (no database present, the plugin still works as intended).

The idea around the progressive enhancement is that database records are referenced instead of flat files when the site is in production mode. If a DB record for a particular

[2017-10-29 01:47] LukeTowers commented on #306
No, database relations are not supported in RainLab.Pages currently. See #307

[2017-10-29 01:47] #306 closed

[2017-10-29 21:27] panakour opened #308 "Change text to Content blocks in multiple languages"
Clients don't have access to the Content blocks for multilingual sites. Let's assume we have text content on top header:

top-header.txt
top-header.ru.txt
top-header.el.txt
...

![image](https://user-images.githubusercontent.com/12927166/32148498-a3dea9d2-bd00-11e7-8d65-a798ba785d47.png)

Only the default language they can edit.

[2017-10-30 05:43] LukeTowers commented on #308
@panakour Could you dig deeper into the code and submit a PR to fix this?

[2017-10-30 07:35] panakour commented on #308
@LukeTowers I will try when I wil be free.

[2017-10-30 19:19] panakour commented on #308
@LukeTowers The problem is not actually in the static-pages plugin but to [translate-plugin](https://github.com/rainlab/translate-plugin) specifically there is a method called [pruneTranslatedContentTemplates method](https://github.com/rainlab/translate-plugin/blob/e603c487fa0c1c4a9ca31cd6c1a9305ea2364389/classes/EventRegistry.php#L208) that is called on the [controller ](https://github.com/rainla

[2017-10-30 23:07] daftspunk commented on #239
@alekseybobkov Can you confirm that this line of code was a misprint, or intentionally purposed to null all injected assets from these pages:

- [CMS index view](
https://github.com/octobercms/october/blob/9565565865306b163ab17c6dbb0ddee29d8ed63d/modules/cms/controllers/index/index.htm)
- [Media index view](https://github.com/octobercms/october/blob/9565565865306b163ab17c6dbb0ddee29d8ed63d/modules

[2017-10-31 00:34] daftspunk commented on #239
Confirmed with Alexey -- this can be safely removed.

[2017-10-31 05:17] LukeTowers commented on #239
@mbaxter91288 could you make a PR for this and the media manager on the dev branch to fix this?

[2017-10-31 18:35] LukeTowers commented on #308
@panakour not really, I'm not sure what the original purpose of that method was.

[2017-11-01 20:01] robinbonnes commented on #102
+1 For this.

Normally I can solve this with a repeater:
[code]
But this is not working when I need to add images for multiple repeater items (Repeater in repeater not supported?):

[code]
If some kind of 'multiple=true' option will be implemented, I could solve this as following:
[code]
Then access the images for example like this:
[code]

[2017-11-01 20:10] LukeTowers commented on #102
@robinbonnes that's the plan. In regards to repeaters in repeaters with syntax fields, I believe that is a reported issue.

[2017-11-05 09:16] jan-vince opened #310 "Cannot delete last menu item in Static Menu"
Last menu item can be (visually) deleted but after save and page reload that deleted item is still present in menu.

Can anyone (@LukeTowers, @daftspunk) confirm that this is a bug and not an intended behavior?

*When a new Static Menu is created and immediately saved, it will contain no items. So there should be a way how to revert existing Static Menu with items to the same (empty) state.*

*I c

[2017-11-05 17:28] LukeTowers commented on #310
I'd consider this a bug, if you could make a PR to fix it that would be great @jan-vince! Thanks!

[2017-11-07 15:00] LukeTowers commented on #295
A solution could be one of two things:
1. The RainLab.Pages plugin ignores the alias set automatically by having more than one snippet on a page and pulls from the original override instead (perhaps still allowing some way to ignore that)
2. OctoberCMS itself does the same as above. I'm not a fan of this, as it could be a breaking change.

[2017-11-09 10:44] plyusninva opened #311 "compact menu tree and minimize all items (feature request)"
If there are more than 100 pages with an nesting level greater than 4, it becomes difficult to maintain the content

Please consider the possibility to make the menu more compact and with the ability to collapse all menu items with a single click

To achieve compactness I have to use the following css:
[code]

results
before :-(
![image](https://user-images.githubusercontent.com/25381948/32601412-

[2017-11-09 13:51] abelschooleman commented on #311
I was just about to open this topic! I agree, we're running a site which has about 190 pages nested 3+ levels deep. Especially reordering has become a real issue. Oftentimes the page structure needs to be repaired by editing the yaml file manually because reordering pages through the frontend has messed things up.
I did notice some effort to improve in an update recently but the effect was margina

[2017-11-09 14:23] LukeTowers commented on #311
@abelschooleman I wouldn't be opposed to a pull request to improve the interface

[2017-11-09 15:08] abelschooleman commented on #311
Got it @LukeTowers Will see if we can start working on this

[2017-11-10 12:25] richardwo opened #312 "Recommended way to customize HTML from staticBreadcrumbs?"
Hi,

Is there a recommended way to customize the HTML generated by staticBreadcrumbs component?
I want to use with Bootstrap 3 and add some CSS classes to the elements.
Thanks.

[2017-11-10 13:05] jan-vince commented on #312
You can create your own partial based on default staticBreadcrumbs component code.

Default markups are [mostly examples](https://octobercms.com/docs/cms/components#customizing-default-markup).

[2017-11-10 13:34] richardwo commented on #312
Thanks - that does exactly what I want.

For anyone else that runs into this:
- copy `plugins/rainlab/pages/components/staticbreadcrumbs/default.htm` into `themes/yourtheme/partials` and rename as `breadcrumb.htm`
- in your layout replace `{% component 'staticBreadcrumbs' %}` with `{% partial 'breadcrumbs.htm' %}`
- you can now edit `breadcrumb.htm` as necessary

[2017-11-10 13:34] #312 closed

[2017-11-11 08:33] panakour commented on #190
This plugin will help you easily have different menu for each language https://octobercms.com/plugin/panakour-translate
https://github.com/panakour/oc-translate-plugin

[2017-11-15 12:45] LucasAbella29 opened #313 "Add permissions for changing layouts and URL"
Hey! I was working with October and when i use the permissions that this plugin has, the administrator that can manage static pages can also set the layout and the url for the page. I want to give permissions only to manage the content for the page and nothing else, is that possible?

Thanks in advance!

[2017-11-15 17:12] LukeTowers commented on #313
You could do that yourself via a custom plugin, or you could make a PR to add that functionality yourself to this plugin directly.

[2017-11-16 02:29] #239 closed

[2017-11-20 13:21] Alainy opened #314 "staticpagepicker and subpages"
When using the staticpagepicker widget for subpages it converts the url /test/testsubpage to /test-testsubpage.
I'm using Pages version 1.2.18 and October build 428.

[2017-11-20 13:47] LukeTowers commented on #314
The staticpagepicker widget does not return URLs, it returns filenames, which are not nested like URLs.

[2017-11-20 13:47] #314 closed

[2017-11-21 07:55] stefanreimert opened #315 "Updating to 1.2.18 breaks my plugin"
When i update to 1.2.18 and go the the plugins the page results into an error.

<img width="1154" alt="screen shot 2017-11-21 at 08 52 37" src="https://user-images.githubusercontent.com/4490250/33060769-b5facb0a-ce99-11e7-8de8-406df4b81027.png">

[2017-11-21 13:59] s89206x commented on #315
me too, i update to 1.2.18 and go the the plugins the page results into an error.
![error](https://user-images.githubusercontent.com/28395044/33076269-3e4b855e-cf07-11e7-9ddc-f2fab9a1a1f6.PNG)

[2017-11-22 08:42] s89206x commented on #315
I did not make changes to update directly up and running out of the error.
How do I update the core OctoberCMS instance?

[2017-11-22 17:45] LukeTowers commented on #315
Make sure that disableCoreUpdates = false in config/cms.php and then update October through the backend.

[2017-11-29 10:21] stefanreimert commented on #315
@LukeTowers thank you this whas the problem indeed.

[2017-11-29 14:58] LukeTowers commented on #315
@stefanreimert No problem

[2017-11-30 16:40] MattPurland commented on #255
@LukeTowers I'm thinking of looking in to this myself as we're looking into alternatives to WordPress based on Laravel - October is still the closest by far, but nested repeaters are a must for us. Can the lead devs point me in the right direction at all?

[2017-11-30 17:03] LukeTowers commented on #255
This is handled by the SyntaxParser class I believe. See http://octobercms.com/docs/services/parser#dynamic-syntax-parser

Called in RainLab.Pages here, the code for it will be in https://github.com/octobercms/library
https://github.com/rainlab/pages-plugin/blob/master/classes/Page.php#L443

That'd be great if you could provide a PR @MattPurland!

[2017-12-04 10:33] rubenvanderburgh opened #317 "undefined method RainLab\Pages\Widgets\PageList::getCollapseStatus()"
[2017-12-04 10:02:55] production.ERROR: exception 'BadMethodCallException' with message 'Call to undefined method RainLab\Pages\Widgets\PageList::getCollapseStatus()' in C:\www\portal\vendor\october\rain\src\Extension\ExtendableTrait.php:388

[2017-12-04 12:24] LukeTowers commented on #317
Duplicate of #315

[2017-12-04 12:24] #317 closed

[2017-12-04 19:20] osmanzeki commented on #307
Definitely a great feature. We were wondering how we could do clean content reuse without having to create a Model for non-dynamic data with the current system.

In Decoy CMS, they seem to have solved this by putting the "solitary" data in data structure buckets and use a relationship picker in pages to fetch this data [1]. I've never really seen a CMS solve the static content problem "cleanly" bu

[2017-12-06 13:37] JarwisMaster opened #318 "Call to undefined method"
After reinstall have this error
Call to undefined method RainLab\Pages\Widgets\PageList::getCollapseStatus()

[2017-12-06 15:06] LukeTowers commented on #318
Duplicate of https://github.com/rainlab/pages-plugin/issues/315

[2017-12-06 15:06] #318 closed

[2017-12-11 16:44] CitrinoDeveloping opened #319 "Rainlab.pages update only the viewbag parameter when a page is renamed"
Hi,

working with rainlab pages noticed a behaviour that, probabily is wanted, but maybe sometimes is not usefull.

I try to explain:

I create two pages
test1.htm with url /test1
test2.htm with url /test2

Now inside /subdomains/octest/httpdocs/themes/demo/meta/ folder of the team we have a static-pages.yaml
static-pages:
    test1: {  }
    test2: {  }

And inside /themes/demo/content/static-pag

[2017-12-13 18:01] LukeTowers commented on #319
I'm not really sure what the issue you're describing is, could you be a bit clearer?

[2017-12-14 12:36] CitrinoDeveloping commented on #319
Hi Luke,

it's not an issue but, imho, a not correct behaviour.
In this case we lost persistence of data.
I will try to explain better in a more coincise way, excuse me for my wafull english :)

I create a new page in rainlabpages
Then i decide to rename it and change the url.
This changes are available only in the viewbag of the page renamed, but on the filesystem the physical name of the file it

[2017-12-14 16:03] LukeTowers commented on #319
Why does it need to change the filename and the reference in static-pages.yaml?

[2017-12-14 16:16] CitrinoDeveloping commented on #319
I'm a the content manager of a website.
I have 20 pages created on rainlab.pages
I find a a page must have a different title and url. I will not create a new page but i will rename it and change url.
Some months later...
The page will continue to work cause the title and url are stored in the [viewbag] of the page.

On the filesytem, perhaps, the page will continue to have the previous name, so th

[2017-12-14 20:59] LukeTowers commented on #319
Feel free to make a PR with the functionality you're requesting

[2017-12-21 21:34] mirorauhala opened #320 ""Undefined variable: references" on line 169 of /october/modules/cms/classes/Page.php"
##### Expected behavior
Search concludes there are no pages.

##### Actual behavior
"Undefined variable: references" on line 169 of /var/www/october/modules/cms/classes/Page.php

##### Reproduce steps
1. Install OctoberCMS
2. Install Rainlab.Pages
3. Create a new menu
4. Edit Menu Item
5. Search all references with any 2 letters.
6. Observe **Actual behavior**

##### October build
431

[2017-12-21 21:35] #320 closed

[2017-12-21 21:35] mirorauhala commented on #320
Wrong repository, will do on octobercms/october

[2017-12-23 14:02] sqwk opened #322 "Support Markdown Editing"
The blog plugin already allows for markdown parsing. Is this possible for the main content field of the pages plugin as well?

Alternatively, can placeholders be parsed as markdown text? (Probably more of a feature request for  October CMS instead for this specific plugin.)

[2017-12-23 21:25] LukeTowers commented on #322
The blog plugin registers its own custom formwidget: BlogMarkdown. In theory you could have a custom field that you use instead of `type="RainLab\Blog\FormWidgets\BlogMarkdown"` and then hide the main content field and render that custom field instead.

[2017-12-24 13:35] sqwk commented on #322
@LukeTowers Is there a way of copying that class into a separate file in order to not have to install the blog plugin? (Not needed for this project)

[2017-12-24 18:00] LukeTowers commented on #322
@sqwk you'd essentially be forking it but yes. Your responsibility to maintain it within your own plugin though

[2017-12-26 15:41] vdomah opened #323 "What is last version compatible with 419 build?"
I got one project that can't be updated up from 419 because of server restrictions. And pages plugin gives error Call to undefined method RainLab\Pages\Widgets\PageList::getCollapseStatus()
What commit I need to use to make Pages work with 419?

[2017-12-27 13:13] WLepelaar commented on #314
What is the best way to convert '-' to '/' ?
When i use ` | replace({'-': '/'}) ` it also converts all '-' in the slug urls.

Is there a way to get a page id or the page url?

[2017-12-27 17:32] LukeTowers commented on #314
@WLepelaar Please explain exactly what you are trying to do.

[2017-12-27 17:45] LukeTowers commented on #323
https://github.com/rainlab/pages-plugin/commit/a938a5464a235a651b66f7153ee8f39924c940e1 is the last commit (in theory) because those methods were changed in the next commit: https://github.com/rainlab/pages-plugin/commit/86093035ba4fadaad0bf0677e800ce107f3cca0d. It is **highly** recommended that you solve your server restrictions however as there will be no future support for PHP < 7.0 at all.

[2017-12-27 17:45] #323 closed

[2017-12-27 18:41] WLepelaar commented on #314
@LukeTowers : I’m trying to make a homepage layout with 3 dynamic buttons (links) It must be verry easy to select a target page.

Now i’m using the menu component. But that is not the way I want it to be, because clients Can make sub items.

[2017-12-27 18:48] LukeTowers commented on #314
Could you please explain your code and what isn't working?

[2017-12-27 18:51] WLepelaar commented on #314
When using the staticpagepicker widget for subpages it converts the url /test/testsubpage to /test-testsubpage.

Is there a way to recive a url? Or a way to convert it to a url?

[2017-12-27 18:52] LukeTowers commented on #314
How does it convert it? It should just return the filename of the selected page, not even a URL.

[2017-12-27 18:55] WLepelaar commented on #314
I’m replacing the - with a /
But when my cliënt uses a space in the pagetitel october automaticly replaces the space with a - also.

[2017-12-27 18:55] LukeTowers commented on #314
Show me your code

[2017-12-28 07:39] WLepelaar commented on #314
`{variable type="staticpagepicker" name="url" label="Select a page"}{/variable}
<a href="{{ url | theme | replace({'-': '/'}) }}">My Link Text</a>
`

[2017-12-28 14:56] LukeTowers commented on #314
@WLepelaar The staticpagepicker widget returns a page's filename, not a url that can be processed by the `| theme` filter. Use the `| staticPage` filter instead: https://github.com/rainlab/pages-plugin#linking-to-static-pages

[2017-12-28 15:02] WLepelaar commented on #314
Great. It works!
Thank you very much

[2017-12-28 15:36] LukeTowers commented on #314
Not a problem!

[2018-01-02 05:44] ronogrimen commented on #315
@LukeTowers @stefanreimert I got this problems and then I fixed it with this solution now media page are not working

[2018-01-02 06:05] LukeTowers commented on #315
@ronogrimen that's a separate issue, don't double post please: https://github.com/octobercms/october/issues/3335

[2018-01-09 20:52] ghost opened #324 "How to sort PageList class"
How can i sort items form the PageList class? I like to sort all items by something link CreatedAt or the page ordering in de Pages tab.

Here is the code i'm using right now:
`function onStart() {
    $theme = Cms\Classes\Theme::getEditTheme();
    $pageList = new RainLab\Pages\Classes\PageList($theme);
    $this['pagesList'] = $pageList->listPages();
}`

I hope someone can help me out

[2018-02-01 15:43] richardwo opened #325 "Form tag removed by toggling 'code view' button"
In Settings / Editor Settings / Markup Tags, 'form' is listed in the allowed tags section.
However when editing the content of a static page, putting some HTML with a form tag in the Code View then toggling the Code View button causes the form tag to be removed and a bunch of p tags added.

I pasted in this example code:
[code]
and it ended up as
[code]

[2018-02-01 16:07] LukeTowers commented on #325
Froala needs to be updated and is being worked on by @daftspunk, perhaps that will fix the issue. Does it still remove form if you remove the action and method attributes and leave it just as `<form>`?

[2018-02-01 16:12] richardwo commented on #325
Removing action and method attributes makes no difference, the form tag is still removed and p tags are added.

[2018-02-02 12:14] szympajka commented on #279
Cool!

Thank you that this issue is solved. My October has got the same problem but this solution seems to help!

[2018-02-05 14:23] vannut opened #326 "Page snippets not being rendered after updating page."
I somehow have a strange issue going on on my production machine; and I can't figure out how this is possible.

I've got a static page with besides some text on it also some page-snippets. When changing the text via the backend, hitting save and goin to the front-end to see the cahnges: the page snippets are not being rendered anymore. They show the <figure...> tags instead of the rendered underly

[2018-02-05 15:51] LukeTowers commented on #326
Does it have anything to do with the recent fixes to the caching key to properly support multilanguage?

[2018-02-07 09:41] vannut commented on #326
It might be; but running `php artisan cache:clear` should fix that; but in fact it doesn't fix it.

[2018-02-08 17:05] Fl0Cri opened #327 "Writing a quote in a richeditor can break the site"
I wrote some text in a richeditor. This text contained contained a string between quotes, followed by a line break. When I saved the page, I got this error in a dialog box:
[code]

Tried to reload the page (backend), and the same error appears (not in a dialog box this time, the static page backend is broken).
The front-end is also broken (with the same error).
Note that the backend (except static

[2018-02-08 17:15] LukeTowers commented on #327
Minification could work to fix this, but it would break HTML values that had <pre> tags in it. I think the best solution probably is to do a string replacement in the Parser library itself. That way we don't have to store weird sequences and we can also fix multiline escaped quote parsing for anything that uses the Ini Parser at the same time.

Could you make a PR to the octobercms/library repo to

[2018-02-08 20:54] dimensi opened #328 "Save repeaters in variable"
Hi! How save repeaters in variables? I want declare repeater and reuse it on layout.
Then i try call repeaters with one name but different mackup, repeaters stop working.

[code]
[code]
First repeator will be broken and not working, but second repeator still work.

[2018-02-18 16:11] martinBadin commented on #132
I would also welcome more types of fields for snippets. A good example of this plugin is the ACF plugin for Wordpress. Snippets are fine, but some types of fields are missing as mediafinger, richeditor or repeater. Here is an example of one page that is completely editable by the user. Page builder is created via the ACF plugin. I think that if you do this, OctoberCMS will be a full replacement fo

[2018-02-18 17:36] LukeTowers commented on #132
You can already do that with repeater groups @martinBadin http://octobercms.com/docs/backend/forms#widget-repeater

[2018-02-26 08:27] maartenmachiels commented on #174
Hi, please note that the same message pops up upon trying to edit the fields in the "meta" tab (meta title and meta description). I'm on version 1.2.18 of the Static Pages plugin, and build 434 of October CMS.

[2018-02-26 14:51] LukeTowers commented on #174
@maartenmachiels could you dig deeper and see what is causing the issue?

[2018-02-26 15:53] host138 commented on #326
@LukeTowers same problem, but `php artisan cache:clear` fix for me.
When do you plan to fix it?

[2018-02-26 18:06] LukeTowers commented on #326
When do you @host138? I'm not going to do anything about it for free because it's not affecting me. Are you able to read the code and figure out why the cache isn't getting properly cleared on saving of the page?

[2018-03-01 08:11] maartenmachiels commented on #174
Hi Luke, dealing with a deadline now, but I'd be glad to start looking from the end of next week.

[2018-03-12 03:21] malachiman opened #329 "Mobile Nav menu not showing on Static Pages"
Never had this issue before.  My layout works perfectly on CMS pages, it is only on Static Pages that the problem appears.

When viewing the site on a mobile device, the hamburger menu appears, but once you select that it disappears and no menu shows.

I have rebuilt it a couple of times and the same issue.  It works as an HTML only site, works on every CMS page, its just Static Pages its refusing

[2018-03-12 04:29] LukeTowers commented on #329
Sounds like you're missing something on the layout that you're using for your Static Pages

[2018-03-12 04:39] malachiman commented on #329
It is weird.  Have tried removing parts of the layout to see if there is something conflicting or broken.  The layout for both the Static and CMS are identical.

[2018-03-12 04:41] LukeTowers commented on #329
Identical code wise or literally the same file?

[2018-03-12 04:42] malachiman commented on #329
Identical, seperate files.

[2018-03-12 04:46] LukeTowers commented on #329
Why not try making them the same? Put the staticpage component on the CMS layout and remove the staticpage specific layout entirely

[2018-03-12 04:47] malachiman commented on #329
Ok,  I haven't tried that.  Will give it a go, thanks.

[2018-03-12 04:59] malachiman commented on #329
Wow thanks, that working now!

The only thing thats different is the layouts are not nested in a folder.  Im not sure why that would make a difference. But its working.  Brilliant, thanks again for the suggestion.

[2018-03-12 05:16] #329 closed

[2018-03-12 22:18] LukeTowers commented on #329
I don't think layouts are supported being in a nested folder @malachiman

[2018-03-12 23:18] malachiman commented on #329
Oh well that explains it, and many hours of trying to figure it out, only to have it be something as simple as that.  Thanks again

[2018-03-13 08:50] Eoler commented on #329
They are, tested it earlier today:
https://github.com/Eoler/oc-ui3kit-theme/blob/master/pages/styleguide/uikit3.htm#L3

[2018-03-13 15:41] JurekR opened #330 "group subpage variables by "tab" attribute in staticPage->getChildren()"
Hi,

if I get a list of static subpages of a static page using code similar to the following:
[code]

The containing static subpage objects hold the variables in the viewbag sub object on the root level, even if the variable was defined using a sub group / tab, like this:
[code]
Maybe it would be helpful, if these variables inside the viewbag were also accessible in subarrays, grouped by the group

[2018-03-13 15:53] Jurek-Raben opened #331 "Please add native page duplication action"
Hi,

it would be very helpful for the clients, if you could duplicate a static page in the backend, e.g. providing a base page, which should be duplicated by the client. Also this would be nice the the normal cms pages.

[2018-03-13 17:46] LukeTowers commented on #331
Make a PR with screenshots of your proposed changes

[2018-03-13 17:48] LukeTowers commented on #330
I'm not sure what would happen, why don't you give it a try? I'm guessing it won't work because tabs are purely for presentation.

[2018-03-13 17:50] LukeTowers commented on #329
@Eoler does the static pages plugin support it?

[2018-03-13 17:50] LukeTowers commented on #329
@Eoler note, this is in regards to **layouts** being in a nested folder, not pages

[2018-03-13 18:32] JurekRaben commented on #330
It was more meant as a rhetorical question, but I hope you get the idea, using the subpages mechanic to quickly build list views from the variables inside the subpages.

[2018-03-13 19:16] JurekRaben commented on #331
Ok, here it is:
<img width="363" alt="bildschirmfoto 2018-03-13 um 20 10 17" src="https://user-images.githubusercontent.com/239679/37364652-6296e2ea-26fb-11e8-806c-4fce58dc02fb.PNG">
Result:
<img width="356" alt="bildschirmfoto 2018-03-13 um 20 11 39" src="https://user-images.githubusercontent.com/239679/37364661-6958e600-26fb-11e8-9b8e-b98f8782496e.PNG">

[2018-03-13 19:17] Eoler commented on #329
Yes, the link above shows page referencing nested layout...

[2018-03-13 20:50] LukeTowers commented on #329
Ah, I see. Odd; not sure what the issue was then

[2018-03-13 20:51] LukeTowers commented on #331
I'd support that being added; make a pull request implementing that feature (or sponsor someone else to do it for you) and I'll review and merge it when it's ready.

[2018-03-13 20:52] LukeTowers commented on #330
What's your issue with having the fields for a page being stored on that page and not in a sub grouping by tab?

[2018-03-13 21:06] JurekRaben commented on #330
More convenient to build a lister page? Let's say I have a parent lister page and subpages which have the tabs "main content" and "overview content". In the overview content there is the preview image for the list and the headline, in the main content the real news content. Now I would like to display preview image, headline and a part of the real content in the list per entry. I would say that so

[2018-03-21 15:13] maartenmachiels commented on #174
Hi Luke, as promised, I've done some more investigation. Saving a default Static Page with only a content field works perfectly. Using variables like text, richeditor, repeater all work fine. As far as I can see, the message "Safe mode is currently enabled" is only triggeed when there's a placeholder present. So whenever we use a layout in which a placeholder exists, the error shows up:

`{% place

[2018-03-21 17:25] LukeTowers commented on #174
This would be happening because of something within the CMS module. RainLab.Pages extends upon the CMS, so the enableSafeMode would be used in modules/cms. It's intended to prevent the modification of code sections for CMS pages if that helps you narrow it down.

[2018-04-04 10:05] datune commented on #255
@MattPurland Any progress by chance?

[2018-04-07 06:53] datune commented on #226
@LukeTowers Has there been any progress? Any plans for this? Any hints as to how we could add it to this plugin? I'd be willing to look into it...

[2018-04-08 05:57] LukeTowers commented on #226
@datune we'd need to implement a validation layer on the Form widget on a per-field basis first

[2018-04-09 14:50] witul opened #334 "Change title via resolveItem event"
I want to ask for the best way to change menu item title.
For now i added something like this to Menu class:
[code]
In apiResult handling.
I can make a pull request if it makes sense.

[2018-04-09 16:50] LukeTowers commented on #334
Why do you need to change the title in code? What are you trying to do exactly?

[2018-04-09 17:02] witul commented on #334
I have to use a different title if user is logged in for the same link.

[2018-04-09 23:48] TheRedEclipse opened #335 "Issue with created page"
Hello, I just created a few static pages with same layout and faced with a problem - I can't open one of them. When I trying to open it says "The requested object was not found.". Can you tell me how to fix this page?

Thanks

[2018-04-10 06:30] TheRedEclipse commented on #335
Not sure if its right what you're looking for, but when I attempt to open that page browser console says:

jquery.min.js?v431:4 POST http://domain.com/backend/rainlab/pages 500 (Internal Server Error)

[2018-04-10 12:16] chocolata opened #336 "Using snippets inside a repeater variable of a static page"
Hi,

I'm using the Static Pages Plugin to create different segments on a page, like so:

[code]
The idea behind it, is to display the segments below eachother in a specifically set styling, as follows:

[code]
This works perfectly. But I'd like to allow the content manager to use snippets in the richeditor text field. This seems like it works, but upon clicking on a snippet on the left, the snippe

[2018-04-10 12:17] maartenmachiels commented on #328
Hi dimensi, I just posted another question here #336
It possibly contains the answer to your question, as it contains an example of how to display the repeater values on the front-end. It might be worth checking out.

[2018-04-10 20:39] LukeTowers commented on #335
@TheRedEclipse check your error logs, or open the network tab in developer tools in chrome and click on the request that gets the 500 response and see what the full response from the server is.

[2018-04-10 22:29] TheRedEclipse commented on #335
Oh, sorry. If I got you right this time, there numerous errors about missing default layout, but last is dated on 9 april.

`Cms\Classes\CmsException: The layout 'default' is not found in /home/admin/web/domain.com/public_html/modules/cms/classes/Controller.php:274
#0/home/admin/web/domain.com/public_html/modules/cms/classes/Controller.php(213): Cms\Classes\Controller→runPage(Object(Cms\Classes\Pa

[2018-04-10 23:52] LukeTowers commented on #335
Sounds like you assigned them to a layout and then either removed or renamed the layout file

[2018-04-11 06:10] TheRedEclipse commented on #335
Indeed, for test purposes I've renamed it and forgot to change it back, didn't knew it must have. But all of them was created without default.htm and work fine except one.

[2018-04-12 06:48] TheRedEclipse commented on #335
Nope, still face to this issue. I tried to create few extra pages and these works properly.

I don't know what exactly cause this problem to start a pull request, so I rather start project from scratch again before much of changes.

[2018-05-14 13:36] der-On commented on #172
@LukeTowers  Hello again. I'm now trying to solve this. Looking through the code I found out that the placeholders are generated using Javascript and then populated with data-attributes for the properties. I'm currently puzzled where exactly the markup for the placeholders gets popuplated with the property data attributes. Any hints on where this happens would be very helpfull.

Currently I'm tryi

[2018-05-14 17:30] LukeTowers commented on #172
@der-On sorry, I'm not super familiar with this so I'm not sure what direction to point you. Keep us posted on what you come up with though!

[2018-05-14 20:10] der-On commented on #172
@daftspunk @alekseybobkov Looking at the git-blame (actually should be git-praise!) of the JS code I think you might be able to point me to something?

[2018-05-17 07:04] LukeTowers commented on #172
@der-On @daftspunk gets a lot of notifications on here and @alekseybobkov doesn't use Github that frequently so you might be better off trying to contact @daftspunk on Slack or IRC

[2018-05-17 08:26] der-On commented on #172
@LukeTowers Thank you. I've wrote him on Slack now.

[2018-05-21 06:42] goldnetonline commented on #307
Mr. @LukeTowers, allow me to bump into this matter.

The idea of database on the plugin is what is craved for mostly in the review.

I will also like to point out that database on the framework CMS level like you said (If I am not mistaken) isn't a good idea as it defeats the file based development power given to developers.

But since this is an addon, a second option to the file based implementa

[2018-05-23 08:47] SeriousKen opened #337 "Unknown "dump" function in "getTwigNodeTree""
I have a debugging layout that uses the dump function to output the Twig variables, but this layout does not work with the Static Pages plugin giving the above error. I presume the Static Pages plugin is using a different instance of the Twig parser which does not have the dump function registered.

[2018-05-23 08:52] SeriousKen commented on #337
Sorry, should have said this error occurs in the backend when trying to edit a page, not when viewing the page.

[2018-05-29 07:35] SeriousKen commented on #337
Seems to be related to this block of code in the main October CMS code which doesn't add the debug extension to the Twig environment.

https://github.com/octobercms/october/blob/8ba63dd428b425a3722fb18c6ce5e58f03be5314/modules/cms/classes/CmsCompoundObject.php#L401-L419

[2018-05-29 07:37] SeriousKen commented on #337
Seems to be because the CmsCompoundObject doesn't add the debug extension when it creates the Twig environment.

https://github.com/octobercms/october/blob/8ba63dd428b425a3722fb18c6ce5e58f03be5314/modules/cms/classes/CmsCompoundObject.php#L401-L419

[2018-05-29 14:40] LukeTowers commented on #337
@SeriousKen it does add them, it just seems to not be doing it properly in your case. See https://github.com/octobercms/october/blob/8ba63dd428b425a3722fb18c6ce5e58f03be5314/modules/cms/classes/CmsCompoundObject.php#L415 and https://github.com/octobercms/october/blob/master/modules/system/twig/Extension.php#L46

[2018-05-30 07:40] SeriousKen commented on #337
It does not add the DebugExtension, compare with how Twig is newed up in the controller https://github.com/octobercms/october/blob/8ba63dd428b425a3722fb18c6ce5e58f03be5314/modules/cms/classes/Controller.php#L508-L514 particularly lines 512-514

This is the only place the DebugExtension is referenced. To be honest, shouldn't the responsibility of creating the Twig environment be moved to the contai

[2018-05-30 07:46] SeriousKen commented on #337
Another look over the code and I'm wondering whether getTwigNodeTree should actually be on the CmsCompoundObject at all. It's not used in the core of OctoberCMS and is only called in the Pages plugin (in the plugins I have installed anyway).

[2018-05-31 16:11] zlobec opened #338 "Implement collapseByDefault on Repeater FormWidget"
How would one tackle the problem, to load all variables (like repeaters and other fields) on page open, to a collapsed state?

Example: I have a gallery with a repeater and + 20 images... and when they all load not collapsed, it takes a while to get to the end of page to add a new image.

Any suggestions?
Regard,
Darjan

[2018-05-31 17:09] LukeTowers commented on #338
@zlobec for now probably some JS is your best bet, or we could add a property to the repeater form widget that loads it in a collapsed state, something like `collapseByDefault`. Make a PR if you'd like to see that behaviour

[2018-05-31 17:50] zlobec commented on #338
@LukeTowers thanks for the response. I haven't got enough experience to start developing solutions for all my problems :D I'll try to find a JS or CSS solution as a quick fix for this.

[2018-05-31 17:52] LukeTowers commented on #338
@zlobec give it a try, you'll probably learn lots :)

[2018-05-31 18:24] zlobec commented on #338
For the time website is not in production, I added the class "collapsed" to the _repeater.htm partial in line 7. Crude, but it sorta works for my needs now :smile:

[2018-06-01 14:15] LukeTowers commented on #337
@SeriousKen I'm reopening this issue until octobercms/october#3575 is merged, thanks for submitting that!

[2018-06-02 11:11] #327 closed

[2018-06-03 03:05] LukeTowers commented on #338
@zlobec you might be able to add it in the attributes property

[2018-06-09 14:27] zlobec opened #340 "Support for modelClass in groups of syntax fields?"
I've been trying to include a modelClass in the groups yaml file, but I always get the error:
`The model class RainLab\Pages\Classes\Page must define a method nameOfMethod()`
No matter what modelClass i put in...

Is this a bug or not a feature at all?
Regard,
Darjan

[2018-06-13 12:06] roulendz opened #341 "Call to undefined function RainLab\Pages\Classes\mb_ereg_replace()"
After fresh install, when I use Pages plugin all works, untill I start to use snipets.

Please see video, to see how I got the error.
https://www.youtube.com/watch?v=9uBu6J6iVI0

[code]

[2018-06-13 16:11] LukeTowers commented on #341
@roulendz your mb_string extension is not installed / enabled for your PHP environment. See https://bugs.php.net/bug.php?id=71808.

[2018-06-13 16:11] #341 closed

[2018-06-13 16:12] LukeTowers commented on #340
@zlobec please post the configuration you are attempting to use, recordfinders aren't supported because they currently rely on relations defined on the model directly to work correctly.

[2018-06-17 07:19] zlobec commented on #340
The idea was to use the modelClass to get records from a plugin model:

[code]
Seems like it doesn't want any models outside the Static Pages controllers.
Regard,
Darjan

[2018-06-21 13:31] Synairgis opened #342 "Script included three times"
Hey there, I'm currently using Peter Hegman's slideshow plugin together with your plugin and I've stumbled upon a weird glitch. You see, I created a very basic slideshow and then imported it inside a static page... and ended up with a couple javascript errors. Upon further investigation, I found out that my page had three identical

`$(document).ready()`

All of them are actually identical and hap

[2018-06-22 05:10] LukeTowers commented on #342
@Synairgis the issue would be with the slideshow plugin, for a temporary workaround use component override files to modify the code as required for your project.

[2018-06-22 05:10] #342 closed

[2018-06-22 09:23] maartenmachiels commented on #43
Is there any way to get this functionality working with the Translate plugin? My goal is not to hardcode the urls (since the client can change them), but to get the right url relative to the current locale.

The "chairs" page (/en/chairs) for example would be "chaises" (/fr/chaises) in french.
So in my code I'd like to do something like this:

`<a href="{{ '/chairs'|app }}">{{ 'Go to chairs page'

[2018-06-22 17:58] LukeTowers commented on #43
@maartenmachiels you should just be able to use the staticPage filter on the filename instead

[2018-06-24 08:04] maartenmachiels commented on #43
Thanks Luke, I was able to use your suggestions and solve it. The filename is the name of the generated staticPage file in the `/content` folder, without the `.htm` suffix, as described here: [https://octobercms.com/plugin/rainlab-pages](https://octobercms.com/plugin/rainlab-pages), segment "Linking to static pages". I was looking for this for a while, it's great!

[2018-06-26 13:56] stefanreimert opened #343 "Make a connection to the user plugin"
Is there a way to make a connection to the user plugin so can pick a user from a dropdown list like you can with a blog author?

[2018-06-26 15:22] LukeTowers commented on #343
You could do that by extending the classes/Page class in theory and adding a field for it, but this isn't really the place to discuss that.

Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: http://octobercms.com/forum
StackOverflow: http://stackoverflow.com/questions/tagged/

[2018-06-26 15:22] #343 closed

[2018-06-26 16:59] LukeTowers commented on #340
@zlobec where are you using that YAML config? I don't recognize the context at all.

[2018-06-28 16:39] zlobec commented on #340
@LukeTowers I'm using it a groups YAML file in a variable repeater as instructed [here](https://octobercms.com/forum/post/nested-repeater-fields-on-static-pages).

[2018-06-29 03:56] LukeTowers commented on #340
@zlobec what is the purpose of
[code]
?

That looks like a filter definition, not a field definition.

[2018-06-29 15:22] Ladylain opened #344 "How to get only url of image variable in Syntax Field"
Hi,

I'm using Pages plugin, and i've put a syntax field for a mediafinder, but i want to get back only the url of the media, not the image tag. Could you tell me if it's possible ?

what i'm using is :
`{variable name="banner" label="Banner" tab="Header" type="mediafinder" mode="image"}{/variable}`

what i'm getting back :
`<img src="{{banner|media}}" />`

what i want to retrieve :
`{{ banner|med

[2018-06-29 16:57] LukeTowers commented on #344
What do you mean you're getting back `<img src="{{banner|media}} />`? `banner` should just be available as a variable anywhere on the page.

[2018-06-29 17:02] Ladylain commented on #344
Hi,

it's not really what i get back.

my code is like that
[code]

[2018-06-29 17:04] LukeTowers commented on #344
@Ladylain don't do that, do this:
[code]

[2018-06-29 17:04] #344 closed

[2018-06-29 17:05] Ladylain commented on #344
oh ok, thanks a lot :+1:

[2018-06-29 17:06] LukeTowers commented on #344
No problem!

[2018-07-02 21:46] loopezz opened #345 "Missing preview vars for pages"
Unlike the Blog plugin Pages doesn't have a function to access variables like excerpt or featured_images. I'm trying to access a static page by it's filename and load some variables of it. This would be very useful to render a preview of a static page on another static page (for example: featured services or products on the home page).

These featured static pages are dynamically selected by the c

[2018-07-02 23:04] LukeTowers commented on #345
@loopezz you'd have to create a custom component that could be passed a static page (from the pagepicker formwidget) in it's properties and then load that page with the classes/Page class and access the relevant ViewBag properties. You may have to do some debugging with `dump()` and / or `dd()` on the loaded Page object to figure out the exact properties you need to target but it should be doable

[2018-07-03 20:02] loopezz commented on #345
Thanks for the reply. I wasn't able to follow your approach, beause of my lack of knowledge. However, I found another way to get the desired result.

I have added this code to my home.htm layout:
[code]

[2018-07-04 21:15] LukeTowers commented on #345
@loopezz glad you were able to figure it out! Doing it my way would be delving into creating your own plugin for the problem, so I'm glad you were able to accomplish it in a way that worked best for you!

[2018-07-04 21:15] #345 closed

[2018-07-05 20:22] KirbyFox opened #346 "Undefined Index on Line 114 plugins/rainlab/pages/formwidgets/MenuItems.php"
Can no longer access navigation links via CMS

"Undefined index: " on line 114 of plugins/rainlab/pages/formwidgets/MenuItems.php

Checked YAML file against validator and it's valid.

[2018-07-05 20:56] LukeTowers commented on #346
@KirbyFox please post YAML file, looks like $item->type is null in your case

[2018-07-06 08:44] stefanreimert opened #347 "Connecting static pages to recordfinder"
When i use the following code i get the message in the image.
Can someone explain to me what this means?

![screen shot 2018-07-06 at 10 43 14](https://user-images.githubusercontent.com/4490250/42369175-73fd2ad6-8109-11e8-8d6b-c521edd237d6.png)

`        user:
            label: User
            span: left
            type: recordfinder
            list: $/rainlab/user/models/user/columns.yaml

[2018-07-06 09:03] zlobec commented on #340
The intent is to get values from the modelClass, but the error is that the model is not defined in the StaticPage model class. It does not load the provided model.

[2018-07-06 15:53] LukeTowers commented on #340
@zlobec you still are not making sense. Your code is from a list filter widget configuration, it has nothing to do with a form field widget that you would be using inside of a repeater. I suggest you look at the available form fields and use those instead of trying to use a list filter widget's configuration as a form field.

[2018-07-06 15:55] zlobec commented on #340
The heat must be getting to me :D

[2018-07-06 15:55] #340 closed

[2018-07-06 15:57] LukeTowers commented on #340
Get some shade and drink lots of water then 😄

[2018-07-06 15:59] LukeTowers commented on #347
@stefanreimert that's because the recordfinder uses a defined model level relation to work, you're going to have to use a dropdown instead. There has been some discussion on adding `modelClass` support to the recordfinder so it would work outside of direct relations (i.e. also in repeaters) but so far no work has been done in that regard. Feel free to submit a PR to the main October repo to introd

[2018-07-09 11:01] recallfuture commented on #346
I met this problem, too, so I backup a yaml file which is fine, but only I save the menu in Page->menus, the yaml file will lose a few of last lines, like type, and all item has added "nesting: ''" and "replace: ''" in yaml file

[2018-07-09 11:07] recallfuture commented on #346
This is my yaml file which is fine, I'll show the last of lines
[code]

[2018-07-09 11:11] recallfuture commented on #346
But when I save in Page->Menus, every item changed, and I lose two of the last items
[code]

[2018-07-09 16:20] LukeTowers commented on #346
@KirbyFox @recallfuture are you guys able to create a reproducible series of steps to take from a base install to triggering this bug / corruption?

[2018-07-09 16:31] KirbyFox commented on #346
@LukeTowers A good starting point would be to add @recallfuture 's first YAML file into a project,  save in Page->Menus or make a change to the navigation tree, refresh the page and see if that triggers the Undefined Index on Line 114 plugins/rainlab/pages/formwidgets/MenuItems.php exception.

[2018-07-09 17:31] LukeTowers commented on #346
@KirbyFox I think you missed something :) I don't want to have to do that, if you guys want it fixed then you'll have to make it as easy as possible for me to do it or investigate it and provide the fix in a PR yourself.

The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways yo

[2018-07-10 00:54] recallfuture commented on #346
@KirbyFox @LukeTowers Thank you, but I has try to find by myself for a long time, can't hold any answers at all.

And I know how to report that now, so this time I will make a now start from october, if it reproduce, I will show you again.

[2018-07-11 12:31] maartenmachiels commented on #273
Hi jan-vince, I'm using this solution now in a multilanguage project. Might you know how to translate the contents of `$this['pagesList'] = $pageList->listPages();` ?

I'm using Static Pages, my PHP code is as follows:

[code]
Then furtheron in Twig, i've got the following:
[code]
If I try something like $pageObject->translateContext($currentLanguage) I get nothing. If I try in twig {{ newsPage.la

[2018-07-11 12:39] maartenmachiels commented on #273
Hi jan-vince, sorry, I already managed to find the answer. When using the solution provided by @LukeTowers here https://github.com/rainlab/blog-plugin/issues/328 the parsedMarkup is automatically translated. :-)

[2018-07-11 12:39] #273 closed

[2018-07-13 13:43] recallfuture commented on #346
I'm back, sorry for a long time, I'm busy for other thing so that only today I can use computer, uhh,, my English is not well too, but I'll try to explain what I found as much as possible.

Now it's time to show all step:
1. download install_file.zip and unzip to the web folder.
2. use sqlite and install the clean blog theme for Initialization.
3. go to backend and install Page
4. download [menu.y

[2018-07-27 11:15] nizzac opened #348 "Nested pages not listed in References search"
When you go to add a new menu item, and use the "Search all references" to find a page. The results only include the top level static pages.

So if you have a page structure like this.

![image](https://user-images.githubusercontent.com/12571713/43317890-a936a2d4-9196-11e8-8c2a-fe9fd97945ab.png)

If you try and add service one as menu item by using the search references, searchinig for **"Service

[2018-07-28 12:50] kakajansh commented on #326
I had similar issue, for me issue appears when `CACHE_DRIVER` type is `file`, when I change it to any other type it works

[2018-07-30 12:58] asystemg opened #349 "Way to use theme.options in static pages"
Hi,
Is there a way to use strings and images that are set in theme options in static pages page?
Something like `{{this.theme.who_are_we_content | raw | _}}`
Best regards.

[2018-07-30 17:47] LukeTowers commented on #349
@asystemg What exactly do you need to do that for / what would that look like?

[2018-08-07 22:11] daftspunk commented on #346
Whilst this exception should be caught by setting a default on the type property (7d8c368857a36d9a4ff9ee6dd1d8d356d60792d7). However this is only a band-aid solution; pasting in a corrupt YAML file is not common or replication instructions--it would be helpful to know _how_ the YAML became corrupted in the first place. Without know the full story this is the best we can do for now. Please create a

[2018-08-08 07:55] KirbyFox commented on #346
No, it's definitely the static pages plugin that is corrupting the YAML file.

The only reason why we are uploading an old YAML file is to overwrite the one that gets corrupted by the Static Pages plugin.

This is still very much a bug and as such should remain open.

[2018-09-15 12:24] GrCOTE7 opened #351 "Real path of a static-page ?"
Hi, all,

I'm looking for the way to get the real path of a static-page's file...

Exemple:
If the page has url **http://localhost/myProject/aide**, but the corresponding file is:

**myLocalServer/myProject/themes/myTheme/content/static-pages/faq.htm**, how to get **faq** ?

(I tried to use fragment, but unsuccess...)

Thanks for your help.

http://prntscr.com/kupaud

[2018-09-15 17:18] GrCOTE7 commented on #351
Re

If that can help, I found the value of the fileName with that:

http://prntscr.com/kurug9

[code]

Of course, that not the best way...

Do you know how to get this same data, properly ?

[2018-09-16 02:27] LukeTowers commented on #351
@GrCOTE7 what do you need the filename for? That will help determine the best solution for you.

[2018-09-16 02:28] RedMarlin commented on #254
I have the same problem. This is what I have discovered so far:
1.If I have only one layout for static pages, no problem I can add repeater fields and everything works as expected
2. If I have a page with already selected layout (a saved static page) that have repeater variable I can add repeater fields without problems
3. If I have a lot of layouts and any layout with repeater field is on the top

[2018-09-16 08:32] GrCOTE7 commented on #351
Hi, Luke...

Thanks for your answer. I appreciate a lot, knowing you're a very busy (I read all your actions in the repository...)... And I'm sure you know the power of using git :-) !

But lots of people as me don't understand very well english... So, understand, and even, use the Git isn't evident...

That's because I'm doing a websit, in wich each page of the documentation will have 2 buttons l

[2018-09-16 16:49] LukeTowers commented on #351
@GrCOTE7 what context are you in / what data do you have access to when you need to get the page filename? Are you running PHP code in the page itself? Do you only have the URL and are running in a completely context? Are you running PHP code in a component that's attached to the page?

[2018-09-17 04:12] GrCOTE7 commented on #351
In fact, I'm currently only with static pages...

But, I can put a snippet, or developp a component for that.

What is the best  way to have the filename of the static-page ?

[2018-09-17 07:21] blissleh opened #352 "Snippets not working in custom tabs created with Syntax Parser tab="x""
Generally, snippets don't seem to work in custom tabs. They work fine in the main content section. Anything in custom tabs will just display as "figure" tag on the frontend. Am i just too stupid?

`{richeditor name="androgen_content" size="large" tab="Androgenindex"}{/richeditor}`

then add the Snippet to "Androgenindex" tab on the static page and it will echo as

`<figure data-component="Blissmed

[2018-09-17 14:12] LukeTowers commented on #352
No, snippets are only processed in the main area. There's a plugin in the marketplace to support them in other places though: https://octobercms.com/plugin/inetis-richeditorsnippets

[2018-09-17 14:14] LukeTowers commented on #351
Could you show me the entire file where you currently have your workaround?

[2018-09-17 14:28] LukeTowers commented on #352
Sure, it's worth consideration, I'm just letting you know that the support doesn't currently exist in the core plugin, so if you want to add it go ahead and submit a PR or sponsor the issue for someone else to do it for you.

[2018-09-17 15:35] LukeTowers commented on #351
@GrCOTE7 I would recommend creating a component to access the page file name, something like
[code]

[2018-09-17 16:03] GrCOTE7 commented on #351
Ok, I proceed, Thanks, Like, and to soon ! :-) !

Lionel.
Écris ta Vie & Vis-la !

c57.fr : LA réponse !

Avec l'aide du Monde, Créée TON Monde !

-----------------------------------------

Write your Life & BE ALIVE !
www.NewNRJ.com

Le lun. 17 sept. 2018 à 17:39, Luke Towers <notifications@github.com> a
écrit :

[2018-09-17 16:03] GrCOTE7 commented on #351
Thanks, Luke ;-)...

I proceed and tell you soon the conclusion...

[2018-09-18 07:56] GrCOTE7 commented on #351
Hi, Luke..

I added registerPageSnippets() in Plugin.php
[code]

and my GithubPageLink php file if:

[code]
I succeeded to add the snippet in my static-page, and the default.htm of this comopnent render well, but the $this->githubPageLink value is null...

What do I forget still...?

(Thanks again for your patience...)

[2018-09-18 09:16] GrCOTE7 commented on #351
Re, Luke...

I obtain the good file name, with this line of code:

[code]

Is that a good way ?

[2018-09-18 14:40] LukeTowers commented on #351
@GrCOTE7 that works well enough, one thing that I would be concerned with is if someone uses the staticPage component with an alias, but if that works for you and you control the definition of the staticPage component then I would say that looks good to go

[2018-09-18 14:47] GrCOTE7 commented on #351
Thank you for your comment.

To next.

[2018-09-18 14:47] #351 closed

[2018-09-19 12:29] Ladylain opened #353 "Translation adds other field when swithing"
Hi ,

We have discover a new bug related to translate use.

-We have a static page with repeater fields.
-We configure all our French fields and we switch to English configuration of the same page,
-We configure the english part but when we switch again to French translation, It appears extras field like if the english is copied to french if the field doesn't exist.

French version with some field

[2018-09-19 14:01] LukeTowers commented on #353
@osmanzeki is this something you've come across?

[2018-09-19 14:55] osmanzeki commented on #353
@LukeTowers Yes this is something I've seen in the past with repeaters. It happens with nested repeaters but I wonder if the cause is somewhat the same?

See this issue for info about nested repeater adding fields bug:
https://github.com/rainlab/translate-plugin/issues/307

[2018-09-19 17:13] LukeTowers commented on #353
I'm not currently planning on working on a fix, so it would be up to the community (including yourself) to propose a fix before I would get involved with reviewing and merging it.

[2018-09-21 23:26] ajmanco opened #354 "Show static menu name in preview"
How can i show my static menu name in  theme preview ?
I want to show this as a menu title in my template . like this :
[code]

[2018-09-23 10:52] Darkrogua opened #355 "snippets nested in snippet"
Is it a bug or an opportunity ??if possible, how do I specify the location in the parent element where the child should enter?
![snippets](https://user-images.githubusercontent.com/21284531/45927187-3dc60580-bf40-11e8-9f2a-631a0eb9ae80.jpg)

[2018-09-23 20:29] LukeTowers commented on #355
@Darkrogua that looks like a bug to me, I don't think nested snippets are supported, I don't even know how that would work...

[2018-09-24 15:19] Darkrogua commented on #355
It seems so, but in order for it to work quite simply, you need to specify in each snippet where the child element will be added and all

[2018-09-26 19:06] paishin opened #356 "Perform changes on Custom Menu Item before rendering"
I am creating a new custom Plugin and for this I have created a new Menu Item Type.

For this menu item type I want to be able to alter the Title and Class properties of the item programmaticaly before rendering.

I thought I would be able to perform these changes using

`Event::listen('pages.menuitem.resolveItem', function($type, $item, $url, $theme) {
    $item->title = "New title here";
 }`

bu

[2018-10-02 15:09] LukeTowers opened #357 "Add new "EmbeddedPage" Component"
Add a new EmbeddedPage component that would allow the user to select from a dropdown list of available pages to have that page rendered as the component's view.

[2018-10-05 12:40] Akif-dev opened #359 "Please Help & Guide me"
Hi,

i have site having two languages, i am using this plugin, and i want to display two menus, one for first language and the other one for 2nd language, menus i am using custom developed.

i want to know the way to differentiate "div->ul->li->a" codes to use on both URLs via using activeLocale

i displayed the images on both site by the following code and it worked.

[code]
how can i use "active

[2018-10-05 18:57] LukeTowers commented on #359
@munxar is this something you can answer?

[2018-10-05 19:20] munxar commented on #359
@LukeTowers @Akif-dev Yes I can!

I do it like this:
create a menu with a code that has your locale as a suffix, e.g.
**main_de** and **main_en**.
now in your layout place the menu like this:
[code]

be careful to remove the **code** in your config section (above the ==), or it will overwrite the code in the component below.

[2018-10-06 04:08] #359 closed

[2018-10-08 13:33] Akif-dev opened #360 "Menu dropdown togggle - please help"
Hi,

i am using this plugin to generate dynamic menus, i have set it to have dropdown, and while clicking on main menu it opens dropdown menus (which is fine), if i click on other main menu, this closes the dropdown of first main menu (this should be fixed, it should open its own dropdown rather than doing this on second click, on first click it closes first main menu dropdowns) and then if again

[2018-10-24 11:07] maraerben opened #362 ""Blocks" as default tab"
Hello,
is it possible to set Blocks (or any other tab) as default? Now the first tab is opened by default. I want to find out the best way, how to open specific tab by default. Any ideas?

[2018-10-26 12:59] leonaze opened #363 "Get children pages of the current static page"
Hi,

Is it possible to get the children pages of the current static pages to make dynamic menu ?

Thanks.

[2018-10-26 16:46] LukeTowers commented on #363
@leonaze yes.

See https://github.com/luketowers/oc-blank-theme/blob/master/partials/tmpl/nav-items.htm#L59-L78 for an example of how to implement it.

[2018-10-26 16:46] #363 closed

[2018-10-28 14:57] claudchan commented on #132
Please implement type image (media finder) and simple rich text editor. This is very useful in real world. Snippet is reusable in any page is very useful but lack of insert image from media finder and also can t code using simple HTML such as styling text heading, bold, italic, lists etc. Please consider it.

[2018-11-01 23:02] LukeTowers commented on #307
@osmanzeki Any thoughts on my recent addition with fleshed out details?

[2018-11-11 16:22] MateThemes opened #366 "Translate Custom Fields in StaticPages"
Hello everyone!

Is it possible to translate custom fields in staticpages that are defined in a yaml?

I did not get it managed or is it currently not supported?

[2018-11-12 03:57] multiwebinc opened #367 "What is the difference between a static page and a CMS page?"
It seems kind of redundant to me to have two different types of pages. Maybe I'm wrong, but I don't see any difference in functionality. Would it not be better to just use one type? If not, what is the difference?

[2018-11-17 08:35] MateThemes commented on #366
I see there is no translation possible?

[2018-11-17 22:35] LukeTowers commented on #366
@datune @vannut one of you know the answer to this?

[2018-11-18 03:02] MateThemes commented on #366
I have to make clear. I mean custom fields that are created with in a Theme with a yaml file!

[2018-11-30 12:08] Hari1110 opened #370 "How to create dropdown menu using static page plugin?"

[2018-12-12 09:05] suraj2209 opened #371 "Need to change font color"
I am using Static page plugin it works fine but want to know is there is any way to change font color from the editor. Please help me how i can add color option in my editor

[2018-12-12 14:55] LukeTowers commented on #371
You would need to make a plugin that extends the page fields config to modify the richeditor field to add the color option to the toolbar: https://octobercms.com/docs/backend/forms#widget-richeditor

[2018-12-12 14:55] #371 closed

[2018-12-13 11:41] suraj2209 commented on #371
Thanks for the Help luke

[2019-01-03 00:10] timmarner opened #373 "Colour Picker Available Colours"
Cant seem to set the available colours for the colour picker on a layout. it simply loads the defaults. if anyone can help

{variable type="colorpicker" name="background_colour" span="left" label="Background Colour" availableColors=1|2|3}{/variable}

[2019-01-06 18:58] jcorapi opened #374 "Adding Snippets causes mb_ereg-replace() error"
When adding new snippets to a static page, I get a "Call to undefined function RainLab\Pages\Classes\mb_ereg_replace()" error.

When looking at the snippet in code view mode, I removed the "&nbsp;", which the editor then replaces with a "<br/>"  - this fixes the snippet.  But if I go back to html view, it then breaks again.

I've updated OctoberCMS and Plugins to the current code.  I'm currently u

[2019-01-06 19:05] jcorapi commented on #374
So my bad....  needed to enable mb_string extension in PHP.  Closing issue.

[2019-01-06 19:05] #374 closed

[2019-01-11 21:05] Zmove commented on #190
Would it be possible to translate menu by using the little dropdown you already have in most other translatable backend form fields ? (see attached screenshot). That UX is great, and should be used everytime you deal with translatable things in october cms.
![translate](https://user-images.githubusercontent.com/1314678/51059591-fd70bd00-15ec-11e9-881b-0979743ee2c4.png)

[2019-01-11 22:46] LukeTowers commented on #190
@Zmove as soon as https://github.com/octobercms/october/pull/3908 is implemented it should be possible to do it that way, the current issue is that it's stored straight in a YAML file with no interaction with Halycon models that we could use to store translations in. If you'd like to see more progress on that then feel free to contribute some funding so I can work more on that PR.

[2019-01-12 15:51] gavinworks opened #375 "Chrome cannot open pages or any of the subitems inside Pages plugin"
When logging in with Chrome, Pages menu url appends hash to the url and chrome developer tools reports the three following console log errors (see below). The issue is intermittent and sometimes occurs with Firefox too but refreshing the page or just persistently clicking on page items or menu items etc will resolve the issue in Firefox when it happens.

This doesn't happen all the time. I can't r

[2019-01-12 16:12] gavinworks commented on #375
@w20k

Pages plugin is 1.2.20 and october build 446
Browser version is Version 71.0.3578.98 (Official Build) (64-bit)

My brilliant colleague (thanks James!) has just found how to replicate the issue. Here's how:

1. Login to october backend.
2. Navigate to pages plugin.
3. User the pages plugin search tool to search for any item
4. Clear the pages plugin search tool to return to the full pages li

[2019-01-12 16:16] gavinworks commented on #375
Sorry, one more thing. To resolve the issue and replicate again simply choose "Hard Refresh" from the refresh menu in chrome with developer tools open or CMD + SHIFT + R (Mac)

[2019-01-12 20:03] w20k commented on #375
@gavinworks, as a quick fix or test to try.
Read this issue: https://github.com/octobercms/october/issues/4048

[2019-01-14 15:19] maartenmachiels opened #376 "Filter down staticpagelist or dynamic variables in static pages"
Hi,

My webprojects rely heavily on the Pages Plugin. Features like variables are of incredible value! I've recently discovered the variable type staticpagepicker:

`{variable name="topic" label="Topic" tab="Topic" type="staticpagepicker" }{/variable}`

Above variable creates a dropdown of all the pages, including their hierarchy, which is already very nice.
I'm now looking to filter this list and

[2019-01-14 18:00] LukeTowers commented on #376
@maartenmachiels your best bet would probably be to look at extending the fields of the page form on the backend through the use of the backend.form.extendFields event or similar methods to dynamically set those options yourself with a plugin.

[2019-01-14 18:11] maartenmachiels commented on #376
Hi Luke, thank you for your answer and your tips. I've been looking at:
[https://octobercms.com/docs/api/backend/form/extendfields](https://octobercms.com/docs/api/backend/form/extendfields)

Is there some more documentation on how to implement this into a static page?
Might you have some examples?

Should this be placed into the function onStart() {} block of the layout?
Or should this stand by i

[2019-01-14 22:23] LukeTowers commented on #376
@maartenmachiels you'd have to build your own plugin that would either extend the RainLab.Pages controller or do some reading of the code to figure out how you could bind to the Form widget that actually displays that dropdown in the backend.

[2019-01-15 12:42] maartenmachiels commented on #376
I've pushed through and found it. By adding the parameter `'cssClass' => 'secondary-tab',` the right styling is applied to my new dynamic field. 👍

[code]
I've seen that `addFields` can be used aswel, as long as you also define `secondary` as an extra parameter. I hope this can be useful to others aswel.

[2019-01-15 12:43] #376 closed

[2019-01-15 12:54] maartenmachiels commented on #376
Damn, I was too quick. There seems to be a bug in a repeater field I've set up in the same layout. My newly generated field now shows up in two places. In the tab "Subject", but also just below each instance of my repeater. It isn't a styling issue, the HTML is generated two times. Is this a known bug?

[2019-01-22 05:15] MateThemes commented on #310
Hello everyone!

What is about this bug? Will it be fixed? I have the same problem.

Thank you!!!!

[2019-01-22 05:43] LukeTowers commented on #310
@MateThemes see previous answer. You can either fix it yourself and provide a PR or offer a bounty for someone to fix it for you

[2019-01-22 10:33] briddle commented on #336
I can confirm this. When adding snippets to a richeditor that is part of a repeater field the snippet gets added to each instance of the repeater and on the frontend nothing displays.

The expected behaviour is to either not allow snippets here or to make them work :(

[2019-01-24 21:23] p2d0 opened #380 "Bugs with snippet editing on low screen resolutions"
![image](https://user-images.githubusercontent.com/8457664/51708939-34f05800-2036-11e9-9d92-27ca6bd09f3d.png)
![image](https://user-images.githubusercontent.com/8457664/51709410-5998ff80-2037-11e9-8289-9ce1c64b3f4e.png)

[2019-01-24 22:03] Patriot720 commented on #380
![image](https://user-images.githubusercontent.com/8457664/51711394-12157200-203d-11e9-8b8e-842b432a5b05.png)

[2019-01-24 22:04] Patriot720 commented on #380
![chrome_2019-01-25_00-52-18](https://user-images.githubusercontent.com/8457664/51711431-2b1e2300-203d-11e9-8cf1-b0d0fa835546.png)

[2019-01-25 09:13] w20k commented on #380
@Patriot720, what version of the framework you use and plugin? Seems like it's a bug in octobercms (https://github.com/octobercms/october).

[2019-01-25 10:07] Patriot720 commented on #380
@w20k plugin: 1.2.20,
System build: 446

[2019-01-31 08:01] Rike-cz commented on #295
@LukeTowers Was there any move to solve this issue since?

[2019-01-31 14:44] maraerben commented on #331
What is the progress? That's exactly what I would need...

[2019-01-31 16:36] LukeTowers commented on #331
@maraerben nothing's been done on it as far as I'm aware, feel free to implement it yourself or provide a bounty for someone else to do it for you if you would like.

[2019-01-31 16:40] LukeTowers commented on #295
@Rike-cz nope. Generally if it's not an issue that I experience in my usage of October and no one feels like paying for me to address it I'm not likely to investigate any further or write any code to implement it unless it's a major issue.

I'm always willing to review PRs or implement stuff in exchange for bounties however.

[2019-01-31 18:49] Rike-cz commented on #295
@LukeTowers ok, thanks. I solved it with `MyComponent::onRender` where the same theme partial is called regardless of current component alias. Change current behavior is easy, it's only about [this line](https://github.com/octobercms/october/blob/2dbc56aead2ef2355135349b83860457f48f6235/modules/cms/classes/ComponentPartial.php#L104). But sensible solution needs deeper philosophical changes about p

[2019-02-01 09:31] Rike-cz commented on #295
@LukeTowers Draft of my idea: https://github.com/Rike-cz/october/commit/afd4045a44609b16e5baa9adac62f6b6b71c202f

[2019-02-01 18:33] mrdrarek commented on #295
[code]

[2019-02-01 18:51] Rike-cz commented on #295
@mrdrarek I also tried this but overriding alias directly causes that [this code](https://github.com/octobercms/october/blob/2dbc56aead2ef2355135349b83860457f48f6235/modules/cms/classes/Controller.php#L989) is looking for the same component twice and more (how many times is this component used in the same page).

[2019-02-19 15:39] charles-tainui commented on #177
hello,
wereas data-snippet attributes are unique for 2 instances of the same snippet, i'm facing this issue on OctoberCMS build 446 with Rainlab Pages Plugin v1.2.20

[2019-02-22 18:53] Rike-cz commented on #254
The same issue: https://github.com/octobercms/october/issues/4158

[2019-02-26 14:02] vitty1 opened #384 "Unable to sort menu items when the box is scrolled down"
Hello,

I'm not able to sort menu item when there are more items and the box is scrolled down.

OctoberCMS version: 446
Static Pages version: 1.2.20
Tested in Firefox, Chrome

![menu sorting](https://user-images.githubusercontent.com/31191150/53418083-44691500-39d7-11e9-8897-6a4272d671b1.jpg)

[2019-02-26 14:59] w20k commented on #384
Hi @vitty1, it's related to an old JS library. It's in my todo list, but don't know when will I be able to continue.

Same issue in sitemap: https://github.com/rainlab/sitemap-plugin/issues/66
Sortable plugin: https://github.com/johnny/jquery-sortable

[2019-02-27 18:08] nleehone commented on #384
I'm having the same issue.

OctoberCMS version: 446
Static Pages version: 1.2.20
Tested in Chrome on Linux: Version 69.0.3497.100 (Official Build) (64-bit)

After a bit of testing I found that I could partially overcome the problem by setting
[code]
in Settings -> Customize back-end -> Styles.

This overrides the default style being applied, which is:
[code]

With this change you can re-order the

[2019-02-27 19:31] nleehone commented on #384
Another quick update.

If you scroll using the mouse button, the problem mentioned in my previous post persists, _however if you scroll by dragging the item to the top or bottom of the screen the the above fix works._

I'm still not sure what is causing the mouse scroll to work differently than dragging the item to the top or bottom of the screen.

[2019-03-05 12:18] MiguelDebruyne commented on #122
Why is it that a single blog item page is the only one in the CMS Page dropdown which you can select when type is set to 'all blog posts'? Shouldn't that page be the blog overview page since that is the page where all the blog posts are shown? I'm confused

[2019-03-10 21:20] helmutkaufmann opened #385 "Default values in repeaters not used"
I have included a repeater in my layout

`{repeater name="xxx" groups="themes/mercator-minimal/repeater/repeater.yaml" tab="Elements" prompt="Add Eelement" }
  {# parser fail if there is noting between open and close tag #}
{/repeater}`

In the YAML, I have specified default values for individual fields but they are ignored. I would have expected the fields to be pre-populated with default values.

[2019-03-11 02:49] LukeTowers commented on #385
What build and plugin versions are you using?

[2019-03-12 08:57] exaline-ru opened #386 "One click to show subitems menu"
At the moment I need to click 2 times in the menu item to show the submenu items. It is necessary - 1 time to click and see the submenu items. Here is the menu code:

<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

    <a class="navbar-brand" href="/">NavBar </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedCont

[2019-03-12 11:16] w20k commented on #386
@exaline-ru could you provide a gif or screenshots of what you mean and what you want?

[2019-03-12 11:41] exaline-ru commented on #386
**Status now:**
[code]
I would like to:
[code]

[2019-03-14 02:23] LukeTowers commented on #386
Help us help you.

[2019-04-10 13:22] tfprado opened #387 "Saving static page settings in Database"
I just need a point in the right direction here.

I am currently working on a new OctoberCMS project and relying heavily on static pages. I created two layouts, one with a sidebar and one without. Using a plugin I was able to use

[code]
to add extra fields to the static page settings (like picking a sidebar menu code). This has worked great in development, and by saving the menu code in the page

[2019-04-10 17:24] LukeTowers commented on #387
Your best bet would probably be to use https://octobercms.com/plugin/axmit-storage until the core changes are ready. It would help speed them along if you could test them though

[2019-04-10 17:24] #387 closed

[2019-04-15 22:33] LukeTowers commented on #384
@nleehone are you able to make a PR with a fix to this?

[2019-04-15 22:57] nleehone commented on #384
I still haven't managed to fix the issue with the mouse scroll wheel, so it wouldn't be a complete fix - it would only address the problem when dragging the item without scrolling.

If this is acceptable then I will look into how to make a PR (never done this before).

[2019-04-18 11:27] mauserrifle commented on #326
I found the issue! Details and hofix here: https://github.com/rainlab/translate-plugin/pull/471

[2019-04-20 09:03] bennothommo commented on #384
@nleehone Would you mind starting a PR with the fix so far? You will need to fork the Pages plugin repo and then [follow the steps here](https://help.github.com/en/articles/creating-a-pull-request-from-a-fork) in order to make a pull request from your fork.

[2019-04-20 09:14] bennothommo commented on #375
@gavinworks Would you be able to confirm if this is all fixed in October CMS build 449 or later?

[2019-04-20 09:18] bennothommo commented on #319
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-20 09:18] #319 closed

[2019-04-20 09:20] w20k commented on #384
@bennothommo what I've found out, that we need to fix old  https://github.com/johnny/jquery-sortable plugin to make it work. So, I'd say it's a core issue.

[2019-04-20 09:30] #324 closed

[2019-04-20 09:31] bennothommo commented on #328
GitHub issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-04-20 09:31] #328 closed

[2019-04-20 09:48] w20k commented on #324
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-20 12:02] bennothommo commented on #311
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-20 12:02] #311 closed

[2019-04-20 12:06] bennothommo commented on #254
@MattPurland @RedMarlin @Rike-cz There has been extensive work done on the repeater widget in the core October CMS recently. Would you be able to confirm if this issue still exists with October build 452? You will need to enable `edgeUpdates` in your config to get this version.

[2019-04-20 14:20] LukeTowers commented on #254
Actually this may have been fixed by https://github.com/rainlab/pages-plugin/commit/eee885c0c7c136665af40b6e68e3f59f749eea5f

[2019-04-20 15:00] bennothommo commented on #255
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-20 15:00] #255 closed

[2019-04-20 15:04] bennothommo commented on #303
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-20 15:04] #303 closed

[2019-04-20 15:07] bennothommo commented on #313
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-20 15:07] #313 closed

[2019-04-20 15:31] bennothommo commented on #338
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-20 15:31] #338 closed

[2019-04-20 15:52] bennothommo commented on #349
@asystemg You would probably want to use a Snippet created from a partial to achieve this, as you can use `this.theme` in the partial. For steps on how to do this, have a look at https://octobercms.com/plugin/rainlab-pages, click on the *Documentation* tab and look at the *Snippets* section.

[2019-04-20 15:52] #349 closed

[2019-04-20 17:21] #310 closed

[2019-04-20 17:29] bennothommo commented on #310
@jan-vince @MateThemes This should now be fixed: https://github.com/rainlab/pages-plugin/commit/b4c29707da2d0cb479cd764f0260a0a2a3996707

[2019-04-21 03:00] bennothommo commented on #336
@maartenmachiels @briddle As you need to click the Snippet in the list in order to add it to a richeditor, it will be very difficult to determine which richeditor is the intended target - especially in the case of a repeater where there could be multiple richeditors visible. A potential fix would be to allow the user to drag the snippet from the list into one of the richeditors to add it.

If you

[2019-04-21 03:02] bennothommo commented on #254
@LukeTowers awesome!

All, feel free to re-open this issue report if the problem still exists when using October build 452 or above.

[2019-04-21 03:02] #254 closed

[2019-04-21 03:12] bennothommo commented on #362
@maraerben Unfortunately there is no way to specify a default tab via the template at this stage, it will always default to showing the first tab available. If you wish for a specific tab to be visible first, you will need to assign the tab first, noting that if the "Use page content field" checkbox is ticked in the Static Page component, the "Content" tab will always be first.

![image](https://u

[2019-04-21 03:12] #362 closed

[2019-04-21 12:25] bennothommo commented on #280
Verified working as of October build 451 and RainLab Pages Plugin release 1.2.20.

Please feel free to re-open this issue if the problem still persists.

[2019-04-21 12:25] #280 closed

[2019-04-21 12:36] bennothommo commented on #174
This issue still persists as of October build 451.

[2019-04-21 12:48] bennothommo commented on #373
@timmarner Would you mind providing the actual variable line you are using so we can test your exact scenario?

[2019-04-21 16:21] bennothommo commented on #325
@richardwo An issue has been set up in the core October CMS repo for the tag stripping issue in the richeditor widget. You can monitor any further progress and comment here: https://github.com/octobercms/october/issues/3305

[2019-04-21 16:21] #325 closed

[2019-04-21 17:05] bennothommo commented on #299
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 17:05] #299 closed

[2019-04-21 17:11] bennothommo commented on #326
@mauserrifle Could you please confirm if this issue still exists in the latest version of October CMS (build 452) and with the latest versions of the Pages and Translate plugins?

[2019-04-21 17:14] bennothommo commented on #385
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 17:14] #385 closed

[2019-04-21 17:15] bennothommo commented on #386
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 17:15] #386 closed

[2019-04-21 17:17] bennothommo commented on #347
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 17:17] #347 closed

[2019-04-21 17:39] mauserrifle commented on #326
I will check next week. Are there changes to the cache clearing then (clearing all languages instead of 1 now)? Because the lack of that is causing it.

[2019-04-21 17:43] bennothommo commented on #326
@mauserrifle Thanks heaps. There's been some extensive work done to the Translate plugin recently so it may be possible it has been resolved. If the issue is still occurring, we'll take another look at it.

[2019-04-22 00:07] LukeTowers commented on #347
Note: Support was added in https://github.com/octobercms/october/commit/920eb15af52446ece607e04149dadb511f350a54 to use the recordfinder without a model relationship, but I'm not sure this will work for this case as Pages are Halcyon models, not Eloquent models. You'd probably be better off using the PagePicker formwidget directly.

[2019-04-22 14:43] #151 closed

[2019-04-22 14:44] bennothommo commented on #151
This is now resolved as of 000007d61d71cec84eefb1de712cd1c24ab409f5. This fix will be released with version 1.2.21 of the Static Pages plugin.

[2019-04-22 15:59] bennothommo commented on #174
@maartenmachiels I have taken a look into this further. The crux of the issue is that any content that is added to a placeholder is then saved into the "code" portion of the static page object by [this method](https://github.com/rainlab/pages-plugin/blob/000007d61d71cec84eefb1de712cd1c24ab409f5/classes/Page.php#L553). When safe mode is enabled, no modifications can be made to the "code" portion of

[2019-04-23 07:04] maartenmachiels commented on #336
Hi Ben, thanks for your comments. Upon further inspection, I notice that snippets don't work in richeditor variables (repeater or not), but they do seem to work in richeditor placeholders.

[2019-04-23 08:59] mauserrifle commented on #326
@bennothommo Nope still not fixed. So:

`RainLab\Pages\Classes\Snippet::clearMapCache` clears one cache key (main language, all others not). You can test this by adding `dump(self::getMapCacheKey($theme))` inside `clearMapCache`. Just one dump happens. In my case `2403172130snippet-map-nl`. It is skipping `-en` etc.

The solution should be fairly easy but I think requires updating both plugins due

[2019-04-23 20:32] tfprado opened #388 "Perform changes on Pages item before rendering in backend"
So I am trying to make a plugin to save static page properties to a database table. I am using the `pages.object.save` event and I am able to save all the viewBag properties without an issue (both the regular ones like layout, title, etc and my custom ones as well).

I am getting hung up on how to add these back to the static page. Could someone point me to what event is triggered when a static pa

[2019-04-24 02:52] bennothommo commented on #388
@tfprado What you could use depends on how you want to use the static page properties on opening the page. If you are wanting to insert the data into the model before displaying the page for example, you could extend the `\RainLab\Pages\Classes\Page` class and bind to the `model.afterFetch` event.

[code]

There is currently no event that is comparable to `cms.template.processSettingsAfterLoad` fo

[2019-04-24 06:19] plyusninva commented on #311
it is still relevant!

[2019-04-24 06:23] LukeTowers commented on #311
@plyusninva note the

part.

We currently don't have time to look into this for you, so your options are either implement it yourself and make a PR or offer a bounty to pay for someone's time to implement it for you.

[2019-04-24 06:29] bennothommo commented on #311
@plyusninva Would you please be able to take your code from your initial post and [make a pull request](https://github.com/octobercms/october/compare) in the October CMS core where the tree view control styling is defined? This way, we can properly review the changes anddetermine if it conflicts with any other changes made recently.

[2019-04-24 07:28] plyusninva commented on #311
I also do not have time to understand the October CMS core, you have more experience with it. I shared with you the experience of using your plugin and the disadvantages of the user interface. I suggested a way to eliminate these shortcomings. If you do not want to improve the UI, you can leave everything as it is.

[2019-04-24 16:37] tfprado commented on #388
I will look into submitting a PR for a new event if this doesn't work out but for now it seems to meet my requirements.

If anyone else needs to change some static page variables (like adding settings from a database):

Bind new event to StaticPage model (Plugin.php)

[code]

Add database settings to the page (classes/PageSettingsFacade.php)

[code]
This is my starting point for now, thanks for th

[2019-04-25 02:30] bennothommo commented on #388
@tfprado Not a problem :)

[2019-04-25 02:30] #388 closed

[2019-04-25 02:32] bennothommo commented on #326
@mauserrifle Thanks for letting us know.

[2019-04-25 08:04] LukeTowers commented on #311
@plyusninva that's fine, we'll leave it as it is then. The project is free and supported by the community, if a particular issue / enhancement isn't worth anyone's time to implement then it just doesn't get implemented and that's just the way it works.

[2019-04-25 14:10] mauserrifle commented on #326
@bennothommo Not sure I will have the time. But I will keep in mind. Would you prefer the cache key event (such as `pages.snippet.getMapCacheKey` to be a mixed value `string|array` or a new event such as `pages.snippet.getMapCacheKeys` (plural)?

[2019-04-25 14:35] bennothommo commented on #326
@mauserrifle To be honest, I'm still going through the entire capabilities of the Translate plugin (only made a member of the org a couple of days ago and it's not a plugin I use often), so I'm not entirely sure what is the best course of action is.

I would imagine that whichever function is clearing the cache for the main language, it would be a case of querying all available languages and just

[2019-04-25 17:31] LukeTowers commented on #326
The cache key is generated based on the currently active locale, that was implemented for a reason, so any solution that changes that needs to take the original problem into consideration. It should be linked in the history of the code changes.

[2019-04-26 02:30] bennothommo commented on #336
@maartenmachiels Thanks for letting me know. I'll hopefully tackle this issue at some point.

[2019-04-26 04:27] bennothommo commented on #352
The work that will be done to fix #336 will also resolve this issue. Feel free to add any further discussion there.

[2019-04-26 04:27] #352 closed

[2019-04-26 04:34] bennothommo commented on #322
@sqwk I'm going to say that this is not going to be possible in the core Pages plugin. Page content is stored as HTML in a CMS object in the filesystem, so if one were to use the Markdown editor, it would have to be rendered to HTML when stored in the file which would make it impossible to review the original Markdown if you were to go back and edit the page.

In addition, the Markdown would have

[2019-04-26 04:34] #322 closed

[2019-04-26 06:12] buffycpp commented on #336
@bennothommo here is some not-very-pretty code that i wrote sometime after i opened this issue. it fixes some stuff that i personally believe should be built-in features of staticpages. it's just a part of a plugin but you easily get the idea and maybe you or someone else will find it useful.

it will:

* allow syntax fields in content files
* allow syntax fields in partials (but not partials nest

[2019-04-26 07:16] bennothommo commented on #336
@buffycpp Thanks heaps for that. I'll just focus on the snippets portion for this PR, but I will definitely consider the other changes with allowing syntax fields from content and partial files going forward.

I also agree that a Froala button would definitely be useful (that's what this plugin does already: https://octobercms.com/plugin/inetis-richeditorsnippets). I still believe that having a dr

[2019-04-26 07:53] buffycpp commented on #336
@bennothommo yes that plugin displays the snippet button in the richeditor but the snippets portion of it is broken because it doesn't inject the component that the snippet relies on (for non partial snippets). thus the dependency is missing and everything explodes 🔥

another interesting thing would be to be able to decide which property should be used for snippet display in the richeditor view. c

[2019-05-01 22:16] sqwk opened #390 "Custom Styles / Paragraph Formats"
The rich editor for the pages plugin allows Heading 1, 2, 3 etc. Is it possible to tweak this list, to add or remove some?

Also, there is a button for a `blockquote` element. Is it possible to add buttons for other block level elements like, for example, `aside` or `section`?

At the moment I am using custom backend CSS to at least indicate to the user that certain block level elements are being

[2019-05-02 03:30] bennothommo commented on #390
@sqwk There is currently no way through October CMS to add additional block-level elements to the rich editor "Paragraph Format" menu. However, if you go to **Settings -> System -> Editor Settings** in the backend and click on the **Markup Classes** tab, you can add additional classes to the "Paragraph Style", which you can then apply to your `<p>` tags and target in your stylesheet.

[2019-05-02 03:30] #390 closed

[2019-05-02 04:09] LukeTowers commented on #390
@sqwk @bennothommo actually I believe you can extend the RicheEditor through JS that is loaded after the main build-min.js. See https://github.com/octobercms/october/issues/2078#issuecomment-310062139 for an example of extending the richeditor and https://www.froala.com/wysiwyg-editor/docs/concepts/custom/button for the docs on creating custom buttons

[2019-05-05 13:41] #126 closed

[2019-05-05 13:42] bennothommo commented on #126
Fixed as of bad169125b4f5180e7e2a0253103e87e9abf30d7.

[2019-05-05 13:53] bennothommo commented on #355
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-05 13:53] #355 closed

[2019-05-05 14:24] #174 closed

[2019-05-05 14:28] bennothommo commented on #174
I have gone ahead and removed safe mode checks just for Static Page objects as of 6b6b06133aff3b70cc95f52d70eb259f14db8439.

The only way the "code" attribute of a Static Page is modified is through the use of placeholders, as far as I can tell. Placeholders are rendered as rich editors in the UI, making it less likely for dangerous code to be inserted - in addition, placeholders are rendered as T

[2019-05-06 09:03] maartenmachiels commented on #174
Hi @bennothommo thanks so much for your nice work. Great to see that October is being managed so well!

[2019-05-11 20:49] jkchr1s opened #392 "Form field duplication when using backend.form.extendFieldsBefore or backend.form.extendFields"
### Build info:
October build: 454
Pages plugin: 1.2.21

### Issue:
If you listen for the event `backend.form.extendFields` or `backend.form.extendFieldsBefore` and add fields, a repeater in any field or tab will duplicate all custom fields.

### Steps to Reproduce:
1. Install October CMS
2. Install Static Pages plugin
3. Create a new plugin: `php artisan create:plugin Poc.StaticPagesBug`
4. In `p

[2019-05-13 01:55] jkchr1s commented on #392
I found a workaround for this issue (I still can't track down why the originally reported bug is happening).

Stepping through the code, I found that `modules/system/traits/ConfigMaker.php` fires an event when loading the config yaml called `system.extendConfigFile`. Leveraging this instead of adding fields directly to the widget appears to have expected behavior.

[code]

This feels somewhat "dir

[2019-05-13 16:36] LukeTowers commented on #392
@jkchr1s you are supposed to check if `$widget->isNested` before adding anything to it, if that property is true then exit your function early to prevent it from being extended.

[2019-05-13 16:36] #392 closed

[2019-05-14 12:18] Adrion opened #393 "Unit tests breaker"
Hello,
First, many thanks for this plugin :)

I'm struggling with a strange issue.

 - My plugin requires Rainlab/Pages in Plugin.php file

 - When I run my unit tests the first one (method) works, then the following error occurs:
[code]

I made many tests to isolate the issue and It only works without RainLab Page requirement.

`/plugins/rainlab/pages/updates/snippets_rename_viewbag_properties.ph

[2019-05-14 12:22] Adrion commented on #393
I can't simply remove the requirement, I simplified the issue to be sure it comes from Pages, actually I require a [Plugin](https://github.com/initbizlab/oc-cumuluscore-plugin/blob/master/Plugin.php#L10) that requires Page

[2019-05-14 13:38] LukeTowers commented on #393
What's the actual error message?

[2019-05-14 13:53] Adrion commented on #393
Oops it was missing from my copy/paste. (issue edited)

Just: `ErrorException: Undefined index: ` (yes it's empty)

[2019-05-14 14:41] LukeTowers commented on #393
And what's the code at the line where the exception triggers in your test?

[2019-05-15 05:38] Adrion commented on #393
I create a dummy test file to be sure it doesn't come from my code:

[code]

The first test will pass, the second throw the exception.

Something may goes wrong between `tearDown()` and `setUp()`  methods with the Rainlab.Pages dependency.

[2019-05-15 05:40] Adrion commented on #393
the error stack starts at `/tests/PluginTestCase.php:74`
which is `$this->runPluginRefreshCommand($pluginCode, false);`
That's why I suppose Rainlab.Pages, as a requirement of the plugin is refreshed but throw an error in the process.

[2019-05-15 06:15] Adrion commented on #393
## Further investigations

I took the code that throw the error in the migration:
`plugins/rainlab/pages/updates/snippets_rename_viewbag_properties.php:15`

[code]

I placed it in the dummy test file.
 - ✅ before parent::tearDown method.
 - ❌ after parent::tearDown method

[code]

### Error
[code]

[2019-05-15 15:49] bennothommo commented on #132
Whilst there is a bounty on this request, it appears to have been abandoned. If the bounty is still available and this request is still required, please feel free to re-open this issue.
- - -
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruitio

[2019-05-15 15:49] #132 closed

[2019-05-15 16:01] bennothommo commented on #282
@eleohner I have tested this with the latest version of the Pages plugin. I was unable to replicate any of the issues listed above, besides the "Allow Nested Item" functionality being disabled when a child item is added to that parent item. This is by design currently, as any explicitly provided child items of a menu item will overwrite the automatically generated nested items.

If you would like

[2019-05-15 16:01] #282 closed

[2019-05-15 16:05] bennothommo commented on #353
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-15 16:05] #353 closed

[2019-05-15 16:06] bennothommo commented on #308
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-15 16:06] #308 closed

[2019-05-15 16:14] bennothommo commented on #348
I've confirmed this issue still exists in the latest version of the plugin (1.2.21).

[2019-05-15 16:18] bennothommo commented on #354
The menu name is not available through the Static Menu component currently. If you would like to see it added, please submit a PR to add it in.

[2019-05-15 16:18] #354 closed

[2019-05-16 08:13] Rike-cz opened #394 "Duplicate textarea ids when adding new page"
October version: 454
Pages plugin version: 1.2.21

I have troubles with duplicity of textarea ids under RichEditor formwidget.

### Steps to reproduce
Add in RainLab.Pages two new pages and take a look on ids of generated hidden textarea elements. They are same.
![ids](https://user-images.githubusercontent.com/4247582/57837416-0d7af200-77c3-11e9-8795-8deb9d722536.png)

Froala does not have problem

[2019-05-16 09:15] bennothommo commented on #394
@Rike-cz Whilst that does sound like a bug, we only officially support Froala. I presume you are using a plugin to implement CKEditor, is that correct?

[2019-05-16 09:59] Rike-cz commented on #394
I have got own solution/plugin for CKEditor, not official plugin. But duplicate element ID is not correct with [HTML5 specification](https://www.w3.org/TR/html5/dom.html#element-attrdef-global-id) I think.

[2019-05-16 10:09] w20k commented on #394
@bennothommo it's definitely a bug. CMS page does provide you with a unique Id, where Pages - not. Html5 also doesn't support duplicated Ids.

[2019-05-16 11:15] bennothommo commented on #394
Thanks @Rike-cz and @w20k. I will review it soon.

[2019-05-16 12:18] w20k commented on #394
@bennothommo could be this commit -> https://github.com/rainlab/pages-plugin/commit/eee885c0c7c136665af40b6e68e3f59f749eea5f

[2019-05-16 12:57] bennothommo commented on #394
@w20k Probably, but it was removed for a reason. It's likely that we'll have to tweak the Pages plugin to generate some unique form aliases for each page tab.

[2019-05-19 13:10] bennothommo commented on #348
This is now fixed as of 1b2d4ed.

[2019-05-19 13:10] #348 closed

[2019-05-19 13:25] bennothommo commented on #346
I have tested @recallfuture's [initial YAML file](https://github.com/rainlab/pages-plugin/issues/346#issuecomment-403442684) above with the latest version of the Static Pages plugin (1.2.21) and it is exhibiting no YAML corruption, dropped menu items or rewritten URLs. I will note that I can no longer access @recallfuture's YAML file [in this comment](https://github.com/rainlab/pages-plugin/issues

[2019-05-19 13:25] #346 closed

[2019-05-19 13:39] bennothommo commented on #326
@w20k @mjauvin May I be able to get some testing assistance on this, and confirm if the bug still exists?

[2019-05-20 15:05] bennothommo commented on #330
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-20 15:05] #330 closed

[2019-05-20 15:08] bennothommo commented on #334
I think this would be best done as a conditional in your theme.

[2019-05-20 15:08] #334 closed

[2019-05-20 15:15] bennothommo commented on #373
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-20 15:16] bennothommo commented on #375
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-20 15:16] #375 closed

[2019-05-20 18:44] w20k commented on #375
@bennothommo this one is fixed, though not really related to pages plugin ;)

[2019-06-01 12:48] SebastiaanKloos opened #396 "Menus not displayed caused by october 456"
Since the update of october 456, the static menu component does not work. Menus are not displayed on pages

[2019-06-01 20:58] w20k commented on #396
Lastest build 456/1.3.0 PP, theme: `Bonjour By RainLab`
Menus are present. Logs, errors, console?

Screenshots:
<img width="795" alt="Screenshot 2019-06-01 at 23 56 26" src="https://user-images.githubusercontent.com/1053320/58753533-21179f80-84c9-11e9-8f0d-e21341e3215f.png">

[2019-06-02 12:45] bennothommo commented on #396
@SebastiaanKloos Could you please provide a little more information for us - are the nav items still in the backend? Is it simply the component that is failing? Has the menu been saved to the `cms_theme_contents` table in the database?

[2019-06-02 13:44] SebastiaanKloos commented on #396
@w20k @bennothommo sorry for not providing any information. There are no errors or logs at all. The menus are stored in the database. You can still edit and view the menus in the backend.

Turning off the cms.databaseTemplates does not solve the issue. Tried it with another october website. Not touched the cms.databaseTemplates config at all. Still no menus.

I will try it with a brand new install

[2019-06-02 14:05] SebastiaanKloos commented on #396
It looks like something is going wrong in the Menu.php class file [function getItemsAttribute](https://github.com/rainlab/pages-plugin/blob/d8534dc08380645b9460818e46ae3c92339c6fb5/classes/Menu.php#L86). A manual dump returns this:

[code]

[2019-06-02 14:40] SebastiaanKloos commented on #396
[Link to code](https://github.com/octobercms/october/blob/1ad43554d4ad937a4264472138827ad799f3be1c/modules/cms/classes/Meta.php#L45) switching the `$this->parseContent()` and `$this->attributes` fixes the issue... @bennothommo @w20k

[2019-06-03 02:27] LukeTowers commented on #396
@SebastiaanKloos could you make a PR with the details?

[2019-06-03 07:15] SebastiaanKloos commented on #396
@LukeTowers I created a new PR. Thank you for your time.

[2019-06-03 09:04] marcomessa commented on #396
Hello, i confirm this is related to new upgrade (core 456 | page 1.3.0). The fix is working, but there is another error. When I try to switch language (using RainLab.Translate), after the update I got this error:

[code]

I discovered this error in production ([here, menu patch is applied, but I can't use english version](https://www.arredocad.com/it))while in my local env before the update it was

[2019-06-03 09:17] bennothommo commented on #396
@marcomessa Thanks for letting us know. We strongly recommend not running edge updates in production for exactly this reason - the potential for breaking changes.

[2019-06-03 09:19] marcomessa commented on #396
That's totally true, I forgot the flag while uploading and didn't noticed until today. I'm trying to find a working fix.

[2019-06-03 10:00] w20k commented on #396
@marcomessa was going to suggest to downgrade with a composer to the latest stable ;)

[2019-06-07 00:15] bennothommo commented on #396
Fixed by https://github.com/octobercms/october/pull/4362.

@marcomessa, if you find the cause of the issue, would you be able to raise a separate issue for us? :)

[2019-06-07 00:15] #396 closed

[2019-06-07 14:52] dathwa opened #397 "Menus disappeared"
After last update, October version: 456, Pages plugin version: 1.3.0, all the menus have disappeared.
Am I missing something? Thanks

[2019-06-07 15:45] bennothommo commented on #397
@dathwa please see https://github.com/rainlab/pages-plugin/issues/396. This has been resolved and the fix should be available with the next release of October.

[2019-06-07 15:45] #397 closed

[2019-06-10 19:03] GinoPane opened #398 "Static menus broke"
After the latest update for October CMS and for this plugin static menus on my theme (and on any other themes) stopped working.
I've tried to clean cache, re-add menus, switch themes and add new menus there. But with no luck. `__SELF__.menuItems` are always empty for the `StaticMenu` component.

UPD:

syncing with DB by `theme:sync` did not help, though the static menu YAML file was synced.

[2019-06-10 19:39] GinoPane commented on #398
Ah, ok, found the solution in other issues.
It would be good to hotfix the broken functionality asap, it is almost a week like the issue is still present.

[2019-06-10 19:39] #398 closed

[2019-06-11 08:05] w20k commented on #398
@GinoPane comment or ping where you found the solution to fix it :) There is too many issues to track them all.

[2019-06-11 11:30] GinoPane commented on #398
@w20k the fix is here: https://github.com/octobercms/october/pull/4362

I'm not happy with changes in this plugin. It behaves like a part of the core now.

[2019-06-11 11:46] w20k commented on #398
@GinoPane there is a set of plugins that Devs use in pair with the core. I'd say they were meant to be `like the core`, but not exactly :) Not sure what you mean by that.

[2019-06-25 09:27] rizhenkov opened #399 "Seems like in 1.3.0 menu stop working"
After updating to 1.3.0 static menu not working.

Quick debug shows that [`$menu->generateReferences($this->page)`](https://github.com/rainlab/pages-plugin/blob/master/components/StaticMenu.php#L80) in the StaticMenu component **always returning `[]`**;

After downgrading plugin version to 1.2.21 its working again.

`composer remove rainlab/pages-plugin`
`composer require rainlab/pages-plugin:1.2.

[2019-06-25 09:45] bennothommo commented on #399
@rizhenkov please see #396. This has been resolved and the fix should be available with the next release of October.

[2019-06-25 09:45] #399 closed

[2019-06-27 12:24] developerabdd opened #400 ""Undefined variable: canCommit" on changing page layout"
On creating a new page or updating an existing one, after the latest plugin update, the following error occurs:
[code]

The following seems to have solved the issue: in /plugins/rainlab/pages/controllers/Index.php, add the following after line 256; this pertains to the method ```onUpdatePageLayout``` and needs to follow the line with
```$object = $this->fillObjectFromPost($type);```

[code]

Final

[2019-06-27 19:37] #400 closed

[2019-06-28 05:38] renderlife opened #401 "Error "Call to a member function property() on null""
https://github.com/rainlab/pages-plugin/blob/b1c6882f0ba8665d0b19566c85b1c444e300e029/controllers/Index.php#L535

![image](https://user-images.githubusercontent.com/9404857/60319739-42b95900-9999-11e9-9d89-62dae56b28b2.png)

[2019-06-28 05:39] bennothommo commented on #401
As per [the contribution guidelines](https://github.com/octobercms/october/blob/master/.github/CONTRIBUTING.md#reporting-an-issue-with-octobercms), please provide the exact steps you are taking for the issue to occur. This will be used for peer review.

[2019-06-28 06:10] renderlife commented on #401
well, i will try

[2019-06-28 06:55] renderlife commented on #401
reproduced the problem

![bag](https://user-images.githubusercontent.com/9404857/60323414-dbed6d00-99a3-11e9-8202-3738b89e9f43.gif)

[2019-06-28 07:10] bennothommo commented on #401
@renderlife Thanks for that, but that is not a bug. If you remove the static page component from a layout, that layout cannot be used for static pages anymore.

[2019-06-28 07:10] #401 closed

[2019-06-28 07:17] renderlife commented on #401
May provide a warning instead of a line number error?

[2019-06-28 08:00] bennothommo commented on #401
@renderlife I've added in a workaround if the static page component is missing. See 27183f19.

[2019-07-01 11:19] 2mt-heuser opened #402 "Add event 'pages.object.delete' when items are deleted."
There is a nice **'pages.object.save'** inside onSave() after the object wa saved, but onDelete() is missing something similar.

I thought it would be nice to have **'pages.object.delete'** in there as well to plug custom code in after the object is deleted.

[2019-07-01 11:21] w20k commented on #402
@2mt-heuser you could create a PR to support it. Feel free!

[2019-07-01 11:25] 2mt-heuser commented on #402
Hrm, sure. It's no big deal but I kinda wanted to ask first :)

Maybe there's a reason why it isn't in there yet.

[2019-07-01 11:29] w20k commented on #402
@2mt-heuser probably wasn't needed, or not considered. Can't tell for sure 😉

[2019-07-01 12:20] 2mt-heuser commented on #402
@w20k There ya go, opened a PR for it.

[2019-07-01 13:12] bennothommo commented on #402
@2mt-heuser @w20k I would imagine that most people have used the model `beforeDelete` and `afterDelete` events up to this point. :)

[2019-07-01 13:18] w20k commented on #402
@bennothommo probably, haven't send pages plugin events ever)) Thought, they didn't exist)

[2019-07-01 18:17] 2mt-heuser commented on #402
Well I kind of read top-down in the octoberdocs about extending plugins and event::listen.
Always liked event-driven stuff so hooked myself into the save event of pages...
Only to realize afterwards that the delete counterpart is missing. That's how it and me ended up here 😄

[2019-07-03 14:32] iboved opened #404 "The menu cache is not cleared after saving the Page"
OctoberCMS Build: 455
RainLab.Pages version: 1.2.21

When I change the Page "Title" or "URL", the Menu does not change on frontend until I clear the cache via `php artisan cache:clear` command.

The problem is that when putting data to the cache, the plugin generates the cache `key` using the **frontend locale**. It also uses the **frontend locale** to get the data from the cache. **BUT** the plug

[2019-07-04 08:03] LukeTowers commented on #404
@iboved could you review / test https://github.com/rainlab/translate-plugin/pull/496 and provide feedback?

[2019-07-04 10:32] rangrage commented on #236
@daftspunk I would like to request this functionality as well please.

[2019-07-04 15:53] LukeTowers commented on #236
@rangrage feel free to make a PR to add it. See https://github.com/octobercms/library/blob/master/src/Parse/Syntax/FieldParser.php for where it happens in the codebase to get an idea of where to start.

[2019-07-04 17:53] developerabdd commented on #236
@LukeTowers @daftspunk I, too, would very much like to see this functionality (or something like it) implemented.! There have been way too many situations where this would have saved us a few headaches!

[2019-07-04 18:43] LukeTowers commented on #236
@developerabdd @rangrage if either of you are interested in sponsoring me to add this support then shoot me an email at octobercms@luketowers.ca or send me a PM on Slack

[2019-07-15 22:27] jeremymouton commented on #236
Using "Grouped repeaters" works as a workaround for now: https://octobercms.inetis.ch/advanced-repeaters-static-pages-plugin

[2019-07-16 05:08] rangrage commented on #236
@jeremymouton thank you for this. It looks like a good work around for now. :)

[2019-07-22 07:58] MaTToX3 commented on #326
Issue still exists in Pages v1.2.21 and Translate v1.6.0.

[2019-07-22 08:06] w20k commented on #326
@bennothommo look at it today, maybe I even know where the issue is!

[2019-07-30 10:18] tok3 commented on #255
is this fixed in the meanwhile, I can't find any solution for it ?

[2019-07-30 11:31] w20k commented on #255
@tok3 don't think so was abandoned. You could provide a PR to fix it.

[2019-08-29 19:32] Iterl0 opened #405 "media library outputs absolute url's for inserted assets in static pages"
Hello,

I am experiencing an awkward problem related to Static Pages. If on a static page we insert an image via media manager, the resulting link will be an absolute link. If later, for example, a developer starts to use an external domain, (maybe CDN) to populate images on the site, and also this domain will likely get changed in the future, it's getting unclear how to efficiently manage such a

[2019-08-30 08:13] PubliAlex opened #406 "Update documentation about repeater support"
Hi there,

Very small task here, I reinstalled the static page plugin to see how it was improved since my last test.

I found that it can now support repeater with a syntax like that in your layout :

    {repeater tab="Images" name="images" prompt="Add image"}
        {variable type="mediafinder" mode="image" name="image" label="Image" commentAbove="Some image."}{/variable}
    {/repeater}

Howev

[2019-08-30 09:29] bennothommo commented on #406
@PubliAlex Good idea - I'll try and get this actioned as soon as possible.

[2019-08-30 09:32] bennothommo commented on #405
@Iterl0 unfortunately there's no way currently to dynamically add the URL to media items in the visual editor that the Static Pages plugin provides, as the content is just straight HTML and is not run through a Twig parser.

[2019-08-30 14:49] kutups opened #407 "Featured image for Page"
How do I make a featured image on a static page? Just like the blog.

[2019-08-31 15:01] jeremymouton commented on #407
See Custom page fields https://github.com/rainlab/pages-plugin#custom-page-fields

In your layout:

[code]

[2019-08-31 15:05] jeremymouton commented on #406
A mention about "Grouped Repeaters" would also be a good addition to the documentation:
https://octobercms.inetis.ch/advanced-repeaters-static-pages-plugin#grouped-repeaters

[2019-08-31 15:47] kutups commented on #407
Thank you @jeroennoten i will try it now

[2019-09-01 16:29] kutups commented on #407
Hey @jeremymouton

Hi, I couldn't find where to add this. Can you help?

[2019-09-02 09:44] jeremymouton commented on #407
@kutups it needs to go inside one of the layout files in `/themes/<your theme name>/layouts/`.

The new featured image field will appear in the Pages backend when you select the layout.

[2019-09-02 10:54] Iterl0 commented on #405
@bennothommo thanks for confirming this case. Would there be any suggestion how to solve an issue like this? I know we can inject php logic into static pages via registering an arbitrary partial as a snippet, and attach it to a static page of our choice. But that kind of approach often breaks the overall integrity of the pages and may not prove to be appropriate in each particular case.

[2019-09-02 13:15] kutups commented on #407
![Ekran Resmi 2019-09-02 16 14 51](https://user-images.githubusercontent.com/13905793/64117072-d134c700-cd9c-11e9-85a3-dbc310ef2fd3.png)
 Thank you @jeremymouton

[2019-09-02 15:10] w20k commented on #407
@kutups could you close the issue if it's resolved?! Thank you ;)

[2019-09-02 18:13] LukeTowers commented on #405
@Iterl0 @bennothommo theoretically we could override what Froala uses for URLs to make them output relative URLs with some sort of flag to indicate that they should be parsed and then have an accessor on the page objects to parse that; although it would be difficult to also support the image previews in the richeditor itself at the same time because we'd have to tell it to display an image from on

[2019-09-02 18:14] #407 closed

[2019-09-03 01:25] bennothommo commented on #405
@Iterl0 I generally work around it by keeping the rich editors as purely for textual content, and using [Dynamic Syntax Parser tags](https://octobercms.com/docs/services/parser#dynamic-syntax-parser) in the layout file to specify areas for images and other media (using the `{mediafinder}` tag allows us to generate the URL to the image through the `|media` filter as you stated). It's great for clie

[2019-09-03 10:34] Iterl0 commented on #405
yeah, its a good overall approach, thought of that too, but since the client would want to add images in the richeditor itself, we get back to the same problem again.

[2019-09-03 10:46] Iterl0 commented on #405
as for now I came up with only one idea to mimic the `|media` filter in static page content. I put a relative link to the image as `<img src="/storage/app/media/...">` and include the following rule in my .htaccess file
`Redirect permanent /storage/app/media http://some-cdn.com/storage/app/media`
from that point everything regarding assets seems working as expected. For now, I'm not sure if this c

[2019-09-03 10:52] Iterl0 commented on #405
I am now looking for a way to read the cdn domain variable from .env file in .htaccess, so that everything regarding cdn config would reside in one place. Still not sure how to accomplish this, and would be glad if someone could give a hint here :)

[2019-09-03 14:36] bennothommo commented on #405
@Iterl0 I'm not sure that's possible - you could potentially use real environment variables if you have control of the hosting service. That would basically replace the `.env` file entirely.

[2019-09-03 14:38] bennothommo commented on #405
Re: your `.htaccess` rewrite, that should be fine as long as the media configuration settings are set up to store the files on the CDN as well.

[2019-09-03 17:16] LukeTowers commented on #405
@bennothommo perhaps we could repurpose the snippet system somehow to make media uploads turn into snippets and then also do some work on the display of snippets?

[2019-09-03 19:35] Iterl0 commented on #405
you are right, thats the solution. I just created my env variable in `.htaccess` and later use it in cms config files via php `getenv()` method

[2019-09-04 03:59] bennothommo commented on #405
@LukeTowers Hmm, the snippet system uses a `<figure>` tag in the rich editor to represent the snippet, so I think that might cause issues with the content display in Froala.

How I would approach it would be to do the following:
- If an image or file is added to the rich editor from the media finder, add an attribute to the element to note this: ie. `data-media`.
- Before save, find any elements i

[2019-09-04 09:20] LukeTowers commented on #405
Hmm, certainly a tricky situation with lots to consider. I can see lots of edge cases that could pop up. I'm going to say that for now an official solution to changing the domain serving assets to a CDN would be to use the htaccess until there's more demand to look into a more robust solution.

[2019-09-10 06:01] Deracination opened #408 "request: please provide a pages.menuitem.generateReferences event"
The pages.menu.referencesGenerated event only has access to MenuItemReference objects which have very little metadata.

The documented 'viewBag' mechanism assumes that filter criteria can be set on each menu item manually.

To make it possible to dynamically manipulate the menus (particularly filtering by user groups) please provide an event::fire at the top of Menu.php::generateReferences which r

[2019-09-10 16:07] LukeTowers commented on #408
Such an event would be called `pages.menu.beforeReferencesGenerated`, feel free to submit a PR for it

[2019-09-10 18:12] cityofroseburg opened #410 "Upgrade broke our site"
We updated pages and now our site will not load.  http://tta.haf.mybluehost.me

We are testing this site before we roll it over to live and now it will not load after the 1.3.0 today.

![Capture](https://user-images.githubusercontent.com/55157330/64639006-c8a34880-d3bb-11e9-9204-3799d576dadd.JPG)

[2019-09-10 18:27] LukeTowers commented on #410
You updated the plugin without updating the core. Your site has `cms.disableCoreUpdates` set to true because it's setup to manage the updates via composer instead. Either login via the terminal and run `composer update` in the website root or send me the credentials via email and I'll take care of it.

[2019-09-10 18:27] #410 closed

[2019-09-12 13:58] Ma3ffin opened #412 "Grouped repeaters remove and add item bug"
If you are using a grouped repeater in a Static Page and remove one repeater item which is not the last one in the list you can not add any new items because every new item has an id that already exists.

[2019-09-14 08:40] Bulmer opened #413 "Class 'Cms\Classes\Meta' not found"
Whenever I try to access the home page after installing this plugin I get a "Class 'Cms\Classes\Meta' not found /octobercms/public/plugins/rainlab/pages/classes/Menu.php line 16" error. I can't seem to find anything about it.

[2019-09-14 11:36] LukeTowers commented on #413
@Bulmer you need to update your core OctoberCMS installation. The latest version of this plugin requires Build 456 at least (but you should really always have the latest).

[2019-09-14 18:39] Bulmer commented on #413
Thanks, that was it!

[2019-09-14 18:39] #413 closed

[2019-09-16 10:31] Ma3ffin commented on #412
I updated October to 1.0.459 and the pages plugin to 1.3.0 and it is working now.
Thank you very much.

[2019-09-16 10:33] #412 closed

[2019-09-19 17:45] arielandino opened #414 "problems with the editor at rainlab.pages"
I have the following proble:
![img](https://i.ibb.co/74m8Ljb/2019-09-19-08-12-41-templates-Explorer-HCI-NOTE175-gardoino-Users.png)

It is the first time that happens to me, and I have been using it for 2 years.
Any idea why this happened?

[2019-09-19 17:55] alxy commented on #414
Does this happen in other browsers as well? Does the JS console show any errors? Apart from that, you should specify which browser (version) and OS you are using, and which version of the plugin and OCMS you are using.

[2019-09-19 18:46] arielandino commented on #414
This occurs in shared host, with php 7.2
I see it igal in chrome and firefoz. This is the error that occurs in the console:
![img](https://i.ibb.co/frmSsVC/2019-09-19-08-12-41-templates.png)

[2019-09-20 01:00] bennothommo commented on #414
@arielandino Couple of things to check:
- Does the issue occur just on that page, or does it occur on all pages?
- Have you made any changes to the Editor Settings in the Settings area of the Backend?
- Have you installed any plugins that add additional functionality to the Rich editor (Froala)?

[2019-09-20 12:00] arielandino commented on #414
258/5000
This problem occurs only with the editor of this rainlabpage plugin, and I don't have any other plugin, I disabled them all.
There are no settings either.
It occurs to me that it is related to some component of PHP, although I do not think that one is missing.

[2019-09-21 13:52] bennothommo commented on #414
@arielandino PHP *shouldn't* have any bearing on the rich editor. Just to eliminate some common issues, would you mind running `php artisan cache:clear` and `php artisan october:util compile assets` in your command line in the root folder of your project, and let us know if this resolves the issue?

[2019-09-23 08:37] iboved commented on #69
Hi, guys!
How to use dynamic options from some method?
This doesn't work:
`{dropdown name="hotel" label="Hotel" options="getHotelOptions"}{/dropdown}`

[2019-09-25 11:08] w20k commented on #69
@iboved please use Slack instead of posting questions under abandoned or old issues.

Slack: https://octobercms-slack.herokuapp.com/

[2019-09-30 16:01] GameBurrow opened #415 "After update 1.3.1 Allow nested items isn't working anymore"
After update 1.3.1 Allow nested items isn't working anymore. They just don't display in the menu anymore.

![image](https://user-images.githubusercontent.com/4341091/65895740-9da58680-e3b4-11e9-9d78-7e7c29237fe1.png)

[2019-09-30 17:38] LukeTowers commented on #415
@GameBurrow are you using Database Templates?

[2019-09-30 20:07] GameBurrow commented on #415
Not sure what you mean with that honestly, if it's something out of ordinary then no. I have pretty basic OctoberCMS setup.

I have following extensions:
![image](https://user-images.githubusercontent.com/4341091/65911814-dbff6d80-e3d5-11e9-973a-86727a334e72.png)

I haven't done any code alterations. Even the menu codes in partials are almost like they shipped with.

Here's my menu structure:
http

[2019-09-30 22:07] LukeTowers commented on #415
Could you add the contents of your theme/meta/menus/main-menu.yaml file?

[2019-10-01 06:17] GameBurrow commented on #415
[code]

[2019-10-03 04:08] bennothommo commented on #415
@GameBurrow would you mind also providing us with the content of your `meta/static-pages.yaml` file and the code that you use to generate the navigation, if possible?

[2019-10-03 06:59] GameBurrow commented on #415
### static-pages.yaml
[code]
Not sure, where I can find the last one?

[2019-10-03 07:49] bennothommo commented on #415
@GameBurrow Thanks for that. As for the last one, I mean the CMS template that has your navigation code for the front-end site.

[2019-10-03 09:06] bennothommo commented on #415
@GameBurrow haha, my bad!

[2019-10-03 09:38] MaTToX3 opened #419 "The title field is required error appears sometimes even if I already have a title"
If I create a page and save it then I want to add another one, I get the following error even if I have a title that is required:

![image](https://user-images.githubusercontent.com/4114411/66115991-3fee8580-e5d2-11e9-8856-ee0a258be7f7.png)

Basically, I have to refresh the backend everytime I want to add a new page.

The same issue appears if I enter the title then url then select a layout but th

[2019-10-03 14:12] bennothommo commented on #419
@MaTToX3 Which version of OctoberCMS and the Pages plugin are you running?

[2019-10-03 15:18] bennothommo commented on #419
@MaTToX3 Would you mind testing the fix in #421 and let me know if this resolves the issue for you?

[2019-10-03 15:28] bennothommo commented on #414
@arielandino The fix provided in https://github.com/rainlab/pages-plugin/pull/421 might resolve the issue for you. Would you mind giving it a test and let me know if this is the case?

[2019-10-04 07:35] MaTToX3 commented on #419
Hey, thank you for all the effort!

I will begin testing now and be back to let you know. :)

[2019-10-04 08:07] MaTToX3 commented on #419
I still have to select "Layout" first otherwise I get the "URL is required" error if I enter the title and URL first.

However I don't have to refresh the backend anymore so this part seems to be working.

[2019-10-10 08:22] mauserrifle opened #422 "Data is lost saving a big menu"
- OctoberCMS Build: 458
- RainLab Pages Plugin Version: 1.3.1
- PHP Version: 7.3

### Description:

When saving a big menu there seems to be a limit on data. Raw post data is missing menuItem data (not related to post_max_size).

### Steps To Reproduce:

Using the big yaml data below this issue. When saving the menu, data is lost. This causes the last menu item to only have "title". It is impossib

[2019-10-31 09:34] VdomaNet opened #425 "СhildPages component does not works with multilingual"
My solution is change in `plugins/rainlab/pages/components/ChildPages.php:43`
`$viewBag = $childPage->settings['components']['viewBag'];`
to
`$viewBag = $childPage->viewBag;`
It works for me

[2019-10-31 18:45] LukeTowers commented on #425
@VdomaNet please provide more information about what exactly the problem is that you're encountering.

[2019-11-07 08:17] VdomaNet commented on #425
I have multilingual site (En/Uk) and use the Pages and Translate plugins
In СhildPages component I always get Pages list (url, name) on the main language version (En)
and never get it in another language, (when I switch to Uk).

so, СhildPages always shows pages list in En (in my default language) and never in Uk, when I switch to Uk I got En too

[2019-11-10 17:01] LukeTowers commented on #425
@mjauvin are you able to look into this and test the fix?

[2019-11-16 08:22] bennothommo commented on #414
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-11-16 08:22] #414 closed

[2019-11-22 12:26] Fosphatic commented on #415
Got same bug guys

[2019-12-08 18:22] Nvironmental opened #428 "How to define field for selecting arbitrary plugin model records"
Hi there,

I can't seem to find any documentation for this or think straight, how can get my plugin records populated in the static page content area. So what I am looking for is, something like a record finder field where I can connect, say Users Plugin, and then select the User through the record finder.

Please guide me to a starting point or documentation I may have missed.

[2019-12-10 09:32] xinstinct opened #429 "Creating Subpage: FileDataSource:.selectOne() must be of the type string, null given in Builder.php"
![image](https://user-images.githubusercontent.com/38440600/70517089-55cf7800-1b38-11ea-965b-7bbda470e332.png)

[2019-12-10 09:39] #429 closed

[2019-12-10 22:21] LukeTowers commented on #428
@Nvironmental you should be able to use `{variable type="recordfinder" list="$/rainlab/user/models/user/columns.yaml" useRelation="false" modelClass="RainLab\\User\\Models\\User"}`

[2019-12-11 07:41] Nvironmental commented on #428
Hi @LukeTowers the above code works just what I intended to. However it only outputs the ID of the record not the record itself.

How can I get actual record from the selection ? Would I have to fetch them via page initialisation functions like `onInit` or `onStart` ?

Is there any other direct way to fetch them that I may be missing ?

[2019-12-11 17:19] LukeTowers commented on #428
@Nvironmental you would have to fetch them in the page code functions you mentioned.

[2019-12-13 08:46] iboved commented on #254
The error still exists.
I have OctoberCMS Build **458** and RainLab.Pages plugin version **1.3.2**.

[2019-12-13 09:00] bennothommo commented on #254
@iboved Can you try build 461 which was just released as an edge update? It includes some fixes for the repeater widget being used in pages. If this is to fix a live site, I would recommend trying this on a copy first.

[2019-12-13 10:46] daftspunk commented on #384
Mouse scroll wheel fix: https://github.com/octobercms/october/commit/ed2eec6afb97141003c443586e6370d379e2dc5c

CSS fix:
https://github.com/octobercms/october/commit/0a98afbff8b78d4a3f6e144124c4649003bf4334

This should be fixed in Build 462+

[2019-12-13 10:46] #384 closed

[2019-12-26 11:25] iboved commented on #394
It seems that the bug has been fixed in this commit -> https://github.com/rainlab/pages-plugin/commit/60a22613cbc88ce0c750bb634a8371c7ae83ce4b

[2019-12-26 15:57] bennothommo commented on #394
Thanks for pointing that out @iboved.

[2019-12-26 15:57] #394 closed

[2020-01-13 12:02] webstylecenter commented on #422
I can confirm this bug, also happening with our websites, both local and in production environments. (PHP 7.3, nginx, latest mysql)

[2020-01-13 12:35] webstylecenter commented on #422
Also, it seems that this bug is over 3 years old and still left unfixed. On the octobercms forums someone also mentioned the same problem: https://octobercms.com/forum/post/static-pages-plugin-error-with-savingloading-menu

[2020-01-13 12:50] webstylecenter commented on #422
The issue is caused because of the default max_input_vars value in PHP.ini - If you increase this value, the problem is resolved.

As a possible fix I would suggest not submitting the menu data as an form array, but as just one value with a serialised array. That would fix this for OctoberCMS. Thanks!

[2020-01-14 02:42] bennothommo commented on #422
@webstylecenter Thanks for confirming this and for your suggestion. We'll investigate it and see if it's doable.

[2020-01-14 10:45] mauserrifle commented on #422
Omg how could I overlook this PHP setting. Thanks @webstylecenter !

[2020-01-17 09:53] DavidOoms opened #430 "External links in the menu not opening in new window"
- OctoberCMS Build: 464
- RainLab Pages Plugin Version: 1.3.2
- PHP Version: 7.4

### Description:
I tried adding external links in my website's menu (URL menu item with checkbox "External link" checked); These links should be opened on a new window according to the help text that is next to the checkbox, but the links are opening in the same window because the attribute target="_blank" isn not ad

[2020-01-19 07:03] LukeTowers commented on #430
@DavidOoms how are you rendering the menu? Are you using a custom partial or the default `{% component staticMenu %}`?

[2020-01-19 10:01] d-ooms-asugoconsulting-com commented on #430
Hi Luke. You're quite right to ask that question. I re-checked the website code and the partial that is used is PanaKour's Extend Translate plugin so the problem should be in there somewhere and not in the standard partial.

[2020-01-20 01:18] #430 closed

[2020-01-23 12:55] JortJacobs opened #431 "Cms\Classes\Meta not found"
- OctoberCMS Build: 464
- RainLab Pages Plugin Version: 1.3.2
- PHP Version: 7.3

### Description:
I get the error Cms\Classes\Meta not found.
/public_html/plugins/rainlab/pages/classes/Menu.php line 16

[2020-01-23 18:55] LukeTowers commented on #431
@JortJacobs are you positive you're using Build 464? Do the contents of modules/cms/classes match the github repo?

[2020-01-23 20:02] JortJacobs commented on #431
Hi @LukeTowers .

Somehow I managed to see Build 464 on the backend as well as on the php artisan october:util set build. But I double checked and indeed the build was not 464. No clue.

Nevermind, I updated now via composer and for sure I am now really on build 464 and everything is running fine. Sorry for false reporting!

[2020-01-23 20:02] #431 closed

[2020-01-23 20:10] LukeTowers commented on #431
No worries @JortJacobs that's just a byproduct of how the `october:util set build` command actually works. We've got plans to improve it in the future but for now it's not really reliable when it comes to determining the actual build being used.

[2020-01-23 20:23] JortJacobs commented on #431
Good to know! Do you probably also know why the Build version is not yet shown anymore in /backend/system/updates?

[2020-01-24 17:09] LukeTowers commented on #431
@JortJacobs if you update via composer then the build number wouldn't show there unless the `php artisan october:util set build` command was called as a part of the updating process as it is in the current composer.json file.

[2020-02-05 17:55] edermonteiro opened #433 "Error This URL is already used by another page"
When synchronizing my project my pages disappeared from my Pages MENU and I get this error when trying to create it again. "This URL is already used by another page."
In fact the page exists because when using the browser I can see the page but in the backend in the pages menu it does not.

[2020-02-05 18:18] LukeTowers commented on #433
@edermonteiro check your /meta/static-pages.yaml file, did it get corrupted?

[2020-02-05 18:28] edermonteiro commented on #433
it seems not.
this file /meta/static-pages.yaml does not list the pages.
but the pages exist in /content/static-pages folder

[2020-02-05 18:31] edermonteiro commented on #433
this is the file

![Capturar](https://user-images.githubusercontent.com/9534485/73871383-508f6080-483d-11ea-8b32-df7cf435773c.PNG)

[2020-02-05 18:44] LukeTowers commented on #433
@edermonteiro if that file doesn't list the pages that's why they're not showing up. I don't know how you're "synchronizing your project" but check the original file and make sure they match or just add the missing pages directly following the same format.

[2020-02-05 19:00] edermonteiro commented on #433
@LukeTowers The synchronization is with the Project ID of the october portal. but I no longer have the original file but I will add the missing pages. thanks alot

[2020-02-05 19:01] LukeTowers commented on #433
Hmm. Let me know if it happens again and the exact steps you're taking to trigger it

[2020-02-05 19:01] #433 closed

[2020-02-21 10:28] queengab commented on #422
Hi,

i can also confirm this bug. And used same solution of @webstylecenter .
If your local server is well setted, you can use a custom `user.ini` to increase the value, but yes the best solution is the webstylecenter suggestion.

It is important, often i create menu navigation of websites with the menu component of rainlab.pages.

[2020-02-24 08:31] chrisvidal commented on #413
having the same `Class 'Cms\Classes\Meta' not found` with October build 464

[2020-02-24 08:37] chrisvidal commented on #431
I think I am having the same case.
I just updated a one year old project, and System Settings shows OC Build 464,
but I have `Class 'Cms\Classes\Meta' not found` when I navigate to the Pages Menu and my front-end theme.

[2020-02-24 08:53] bennothommo commented on #431
@chrisvidal Might be an outdated record in the cache. Try `php artisan cache:clear` and see if that works.

[2020-02-24 09:05] chrisvidal commented on #431
thanks @bennothommo
same, clearing the cache didnt solve it

[2020-02-24 13:17] bennothommo commented on #431
@chrisvidal Does the `modules/cms/classes/Meta.php` file exist in your install?

[2020-02-24 13:41] chrisvidal commented on #431
no such class

[2020-02-24 15:07] bennothommo commented on #431
@chrisvidal What has potentially happened is that October has run `php artisan october:util set build` which has set the build for your install without actually upgrading the files? Did you install October via the wizard, or using Composer? If using Composer, would you mind pasting your `composer.json` in here for us?

[2020-02-25 01:29] chrisvidal commented on #431
it is an install with the Wizard from last year, around January 2019 I would say.
Hence I have no `composer.json`

[2020-02-25 22:27] LukeTowers commented on #413
@chrisvidal sounds like your code base isn't actually using 464, it might just be telling you that it is though.

[2020-02-26 01:04] chrisvidal commented on #413
I can sense that ~ so, what is the best course of action here?